Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

refactor(ui): 将组件样式迁移至 Tailwind CSS
  packages/ui/lib/components/DcCell.vue
  packages/ui/lib/components/DcCellGroup.vue
  packages/ui/lib/components/DcContent.vue
  packages/ui/lib/components/DcTab.test.ts
  packages/ui/lib/components/DcTab.vue
  packages/ui/lib/components/basic.test.ts
  packages/ui/lib/index.css
  packages/ui/lib/message/download.tsx
  packages/ui/lib/tailwind-components.test.ts
  packages/ui/src/components/showcase/demos/DcPullRefreshDemo.vue
  packages/ui/src/pages/index.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(release): 调整了发布公告文本
  README.md
  packages/app/main.html
  packages/app/src/router.ts
  script/release-notes.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(app): 微调样式
  Cargo.lock
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/src/lib.rs
  packages/app/src/components/plugin/index.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 恢复原生开发热更新
  packages/app/src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: ui
  .oxlintrc.json
  TODOS.md
  package.json
  packages/app/index.html
  packages/app/main.html
  packages/app/src/components/plugin/marketplace/PluginMarketplaceFilters.vue
  packages/app/src/components/updateChecker.vue
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/vite.config.mts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(server): 删除无用的配置字段
  packages/server/wrangler.jsonc
Due: none

docs(readme): 新的star板块
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(todos): 规划一个下载器
  TODOS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(todos): 优化语言表达
  TODOS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

style(fmt): 格式化
  .oxlintrc.json
  package.json
  packages/app/index.html
  packages/app/main.html
  packages/app/src/components/plugin/marketplace/PluginMarketplaceFilters.vue
  packages/app/src/components/updateChecker.vue
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/vite.config.mts
  packages/server/wrangler.jsonc
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 扩展内容下载协议
  packages/model/lib/model/content.ts
  packages/model/lib/model/download.test.ts
  packages/model/lib/model/download.ts
  packages/plugin/lib/driver/cleanup.test.ts
  packages/plugin/lib/driver/cleanup.ts
  packages/plugin/lib/features/core/booters/0_configSetter.ts
  packages/plugin/lib/features/core/booters/coreBooters.test.ts
  packages/plugin/lib/plugin/content.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(readme): 路线图
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(readme): 更新下载方式
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(security): 重新明确安全策略
  SECURITY.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 使用原生下载器获取插件资源
  packages/plugin/lib/features/core/installers/10_normalUrl.ts
  packages/plugin/lib/features/core/installers/40_github.ts
  packages/plugin/lib/features/core/installers/downloadAsset.test.ts
  packages/plugin/lib/features/core/installers/downloadAsset.ts
  packages/plugin/lib/features/core/installers/installers.test.ts
  packages/plugin/package.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 校验下载运行时插件代次
  packages/plugin/lib/driver/booter.test.ts
  packages/plugin/lib/driver/booter.ts
  packages/plugin/lib/driver/cleanup.test.ts
  packages/plugin/lib/driver/cleanup.ts
  packages/plugin/lib/driver/store.test.ts
  packages/plugin/lib/driver/store.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(app): 接入下载器原生生命周期
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/capabilities/default.json
  packages/app/src-tauri/src/lib.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(downloader): 支持 SAF 可寻址文件直写
  packages/downloader/README.md
  packages/downloader/android/src/main/java/org/delta_comic/downloader/DownloadRuntime.kt
  packages/downloader/android/src/main/java/org/delta_comic/downloader/SafDocuments.kt
  packages/downloader/android/src/test/java/org/delta_comic/downloader/SafDirectContractTest.kt
  packages/downloader/docs/acceptance.md
  packages/downloader/src/checksum.rs
  packages/downloader/src/commands.rs
  packages/downloader/src/engine.rs
  packages/downloader/src/ephemeral.rs
  packages/downloader/src/http.rs
  packages/downloader/src/http/fault_tests.rs
  packages/downloader/src/mobile.rs
  packages/downloader/src/persistence.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(build): 兼容 Rust 严格 Clippy 检查
  packages/app/src-tauri/src/lib.rs
  packages/plugin/src/commands.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(todo): 更新下载器实现进度
  TODOS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(downloader): 将 BT peer 纳入全局连接预算
  Cargo.lock
  packages/downloader/Cargo.toml
  packages/downloader/README.md
  packages/downloader/docs/acceptance.md
  packages/downloader/src/engine.rs
  packages/downloader/src/torrent.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(codex): 不提交codex的config
  .codex/config.toml
  .gitignore
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor(downloader): 使用类封装 TypeScript SDK
  packages/app/package.json
  packages/app/src/features/downloads/downloaderClient.ts
  packages/downloader/README.md
  packages/downloader/lib/Downloader.ts
  packages/downloader/lib/index.test.ts
  packages/downloader/lib/index.ts
  packages/downloader/lib/types.ts
  packages/plugin/lib/features/core/installers/downloadAsset.test.ts
  packages/plugin/lib/features/core/installers/downloadAsset.ts
  packages/plugin/lib/features/core/installers/installers.test.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(downloader): 规范 Android 模块与 Kotlin 风格
  .editorconfig
  packages/downloader/android/build.gradle.kts
  packages/downloader/android/consumer-rules.pro
  packages/downloader/android/proguard-rules.pro
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadActionReceiver.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadJobService.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadPolicy.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadRuntime.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadWorker.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloaderPlugin.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/SafDocuments.kt
  packages/downloader/android/src/test/java/org/deltacomic/downloader/CredentialBootstrapTest.kt
  packages/downloader/android/src/test/java/org/deltacomic/downloader/DownloadPolicyTest.kt
  packages/downloader/android/src/test/java/org/deltacomic/downloader/SafDirectContractTest.kt
  packages/downloader/src/mobile.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci(test): 增加 Rust 与 Android 质量检查
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  words.txt
Due: none

ci(android): 升级 Node 24 运行时 Actions
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: none

fix(downloader): 限定凭据服务常量的平台范围
  packages/downloader/src/credentials.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(settings): 增加原生日志阅读与导出
  .gitignore
  packages/app/components.d.ts
  packages/app/src/components/logs/LogContentViewer.vue
  packages/app/src/components/logs/LogFileList.vue
  packages/app/src/components/logs/LogReaderPanel.vue
  packages/app/src/components/logs/LogToolbar.vue
  packages/app/src/components/logs/components.test.ts
  packages/app/src/components/logs/index.ts
  packages/app/src/features/logs/index.ts
  packages/app/src/features/logs/loggerClient.test.ts
  packages/app/src/features/logs/loggerClient.ts
  packages/app/src/features/logs/model.test.ts
  packages/app/src/features/logs/model.ts
  packages/app/src/features/logs/useLogReader.test.ts
  packages/app/src/features/logs/useLogReader.ts
  packages/app/src/i18n/locales/en-US.ts
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/i18n/locales/zh-TW.ts
  packages/app/src/pages/setting.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(settings): 补充日志阅读器关闭操作
  packages/app/src/components/logs/LogReaderPanel.vue
  packages/app/src/components/logs/components.test.ts
  packages/app/src/i18n/locales/en-US.ts
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/i18n/locales/zh-TW.ts
  packages/app/src/pages/setting.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(todo): 标记统一日志任务完成
  TODOS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

Require comprehensive tests
  AGENTS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

style(plugin): otherProgress的职责单一化
  TODOS.md
  packages/plugin/lib/features/core/booters/50_otherProcess.ts
  packages/plugin/lib/features/core/booters/otherProgress.test.ts
  packages/plugin/lib/plugin/otherProgress.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(readme): 就是今天
  README.md
  TODOS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci(release): 修复了check问题
  .github/workflows/release.yaml
Due: none

ci(release): 修复了构建问题
  .github/workflows/release.yaml
Due: none

ci(release): 修复了android和windows
  .github/workflows/release.yaml
Due: none
