Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

ci(release): 继续增大node的heap size
  .github/workflows/release.yaml
Due: none

ci(release): 就在今天
  .github/workflows/release.yaml
Due: none

ci(release): 就在今天 (#46)
  .github/workflows/release.yaml
Due: none

ci(release): 修复构建问题
  .github/workflows/release.yaml
  packages/app/src/index.css
  packages/ui/lib/index.css
Due: none

ci(release): 再次修改android流程
  .github/workflows/release.yaml
Due: none

ci(release): 再次再次修正构建流程
  .github/workflows/release.yaml
  script/release-configuration.test.ts
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci(release): 修复windows的version和android的pnpm
  .github/workflows/release.yaml
  script/release-configuration.test.ts
  script/windows-msi-version.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(release): 3.0.0-next.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(release): 修复撤回版本的发布恢复流程
  .github/workflows/release.yaml
  docs/release-workflow.md
  package.json
  pnpm-lock.yaml
  release.config.ts
  script/bootstrap-release-history.command.test.ts
  script/bootstrap-release-history.mts
  script/release-configuration.test.ts
  script/release-control.test.ts
  script/release-environment.mts
  script/release-environment.test.ts
  script/release.command.test.ts
  script/release.mts
  script/semantic-release-plugin.command.test.ts
  script/semantic-release-plugin.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(release): 使用工作流令牌发布软件包
  .github/workflows/release.yaml
  docs/release-workflow.md
  script/release-control.test.ts
  script/release-edge-cases.test.ts
  script/semantic-release-plugin.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  9ed49aeba7567dd71ef069bd19cb228202ef1b46
Due: none

chore(release): 3.0.0-next.1 [skip ci]
  CHANGELOG.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(app): 修复移动端插件初始化失败
  Cargo.lock
  Cargo.toml
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/src/lib.rs
  packages/logger/Cargo.toml
  packages/logger/src/tracing_bridge.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(downloader): 修正 Android JNI 导出包名
  packages/downloader/src/mobile.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

Notes added by 'git notes add'
  2e3836b5a8416575909e3604e319cb618a74e3de
Due: none

chore(release): 3.0.0-next.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(release): 恢复 Angular 发布说明
  docs/release-workflow.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release.config.ts
  script/release-configuration.test.ts
  script/release-notes.mts
  script/release-notes.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(release): 补齐 3.0 预发布说明
  CHANGELOG.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(release): 同步发布 npm 与 GitHub Packages
  .github/workflows/release.yaml
  docs/release-workflow.md
  script/release-control.test.ts
  script/semantic-release-plugin.command.test.ts
  script/semantic-release-plugin.mts
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(app): 交换了安装和市场的位置
  TODOS.md
  packages/app/index.html
  packages/app/src/AppSetup.vue
  packages/app/src/components/download/DownloadTaskCard.vue
  packages/app/src/components/download/DownloadToolbar.vue
  packages/app/src/components/plugin/index.vue
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/pages/main/plugin/list.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 修复 Web 启动与插件空状态引导
  packages/app/src/i18n/locales/en-US.ts
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/i18n/locales/zh-TW.ts
  packages/app/src/pages/main/plugin/list.vue
  packages/app/src/startup/entry.test.ts
  packages/app/src/startup/entry.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(readme): 优化语言表达
  README.md
  TODOS.md
  packages/app/components.d.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  dca4f6ae7d34f9c6a8ae5dc51a33bcbb04e12bdd
Due: none

fix(release): 使用 OIDC 发布 npm 包
  .github/workflows/release.yaml
  docs/release-workflow.md
  script/release-control.test.ts
  script/semantic-release-plugin.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  aac544325e8401a22cee05d2d494ea642182ad2a
Due: none

chore(release): 3.0.0-next.4 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

Notes added by 'git notes add'
  9b0eb66dda33bbba95bf3b1a427e14af16576367
Due: none

chore(release): 3.0.0-next.5 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(ui): 提取共享 Tailwind 插件
  packages/app/src/index.css
  packages/ui/lib/index.css
  packages/ui/package.json
  packages/ui/src/index.css
  packages/ui/tailwind/index.ts
  packages/ui/tailwind/safe-area.d.ts
  packages/ui/tsconfig.node.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(lint): 接入 Tailwind CSS 规则
  .oxlintrc.json
  TODOS.md
  package.json
  packages/ui/lib/message/download.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code
