Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

feat(ui): 重新设计样式系统
  packages/app/src/App.test.ts
  packages/app/src/AppSetup.vue
  packages/app/src/index.css
  packages/app/src/main.tsx
  packages/ui/lib/components/DcConfigProvider.vue
  packages/ui/lib/components/config-provider/config-provider.test.ts
  packages/ui/lib/components/config-provider/context.ts
  packages/ui/lib/index.css
  packages/ui/lib/index.ts
  packages/ui/src/App.vue
  packages/ui/src/components/showcase/catalog.test.ts
  packages/ui/src/components/showcase/catalog.ts
  packages/ui/src/components/showcase/demos/DcConfigProviderDemo.vue
  packages/ui/src/index.css
  packages/ui/src/main.tsx
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  0f9b1ef350db5daed1be4e82c6c8542ad730701e
Due: none

chore(release): 3.0.0-next.6 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(app): 使用legacy插件提供ES5降级构建
  Cargo.toml
  packages/app/legacyBuild.test.ts
  packages/app/legacyBuild.ts
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/src/lib.rs
  packages/app/src/main.tsx
  packages/app/vite.config.mts
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(app): 适配策略优化
  Cargo.toml
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/src/lib.rs
  packages/app/src/main.tsx
  packages/app/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 修复了config没有泛型的问题
  Cargo.lock
  Cargo.toml
  packages/app/src/pages/main/plugin/config.vue
  packages/db/lib/config.ts
  packages/plugin/lib/config.test.ts
  packages/plugin/lib/config.ts
  packages/plugin/lib/configPointer.ts
  packages/ui/lib/components/DcConfigProvider.vue
  packages/ui/lib/components/config-provider/config-provider.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  196dc90021dada60e75aeea69b85237b3317ca63
Due: none

chore(release): 3.0.0-next.7 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(app): 为启动页添加背景
  Cargo.lock
  packages/app/index.html
  packages/app/src/App.test.ts
  packages/app/src/AppSetup.vue
  packages/app/src/pages/main/plugin/config.vue
  packages/logger/Cargo.toml
  packages/logger/lib/logger.test.ts
  packages/logger/lib/logger.ts
  packages/logger/lib/types.ts
  packages/logger/src/model.rs
  packages/logger/src/storage.rs
  packages/logger/src/tracing_bridge.rs
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci(release): 就在今天
  .github/workflows/release.yaml
Due: none

ci(release): 就在今天 (#46)
  .github/workflows/release.yaml
Due: none

chore(release): 3.0.0-next.1 [skip ci]
  CHANGELOG.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(release): 3.0.0-next.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(release): 补齐 3.0 预发布说明
  CHANGELOG.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(release): 3.0.0-next.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(release): 3.0.0-next.4 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(release): 3.0.0-next.5 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci(release): 修复了旧flow文件
  .github/workflows/release.yaml
Due: none

feat(app): 优化了配置显示
  packages/app/src/pages/main/plugin/config.vue
  packages/plugin/lib/features/core/feature.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(ui): 修复列表虚拟可见区域计算
  TODOS.md
  packages/ui/lib/components/DcVirtualWaterfall.vue
  packages/ui/lib/components/DcWaterfall.vue
  packages/ui/package.json
  packages/ui/test/lib/components/DcVirtualWaterfall.test.ts
  packages/ui/test/lib/components/DcWaterfall.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(ui): 完善瀑布流展示页数据操作
  packages/ui/src/components/showcase/demos/DcWaterfallDemo.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  4599a17e26e198a7f36c8d8250b815dba8e99f33
Due: none

chore(release): 3.0.0-next.8 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(plugin): 修复了auth调用modal的问题
  TODOS.md
  packages/app/main.html
  packages/app/src/components/plugin/index.vue
  packages/plugin/lib/features/core/booters/40_auth.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 重构了部分架构
  packages/plugin/lib/export/hook/index.ts
  packages/plugin/lib/export/index.ts
  packages/plugin/lib/export/model/auth.ts
  packages/plugin/lib/export/model/content.ts
  packages/plugin/lib/export/model/expose.ts
  packages/plugin/lib/export/model/index.ts
  packages/plugin/lib/export/model/remote.ts
  packages/plugin/lib/index.ts
  packages/plugin/重构方案.excalidraw
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 重构了内容的model
  packages/plugin/_lib/plugin/api.ts
  packages/plugin/_lib/plugin/auth.ts
  packages/plugin/_lib/plugin/content.ts
  packages/plugin/_lib/plugin/resource.ts
  packages/plugin/_lib/plugin/search.ts
  packages/plugin/lib/export/hook/content.ts
  packages/plugin/lib/export/hook/index.ts
  packages/plugin/lib/export/model/content.ts
  packages/plugin/lib/export/model/index.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

build(ts): tnb代替tsgo
  .vscode/settings.json
  package.json
  packages/app/package.json
  packages/db/package.json
  packages/db/vite.config.mts
  packages/downloader/package.json
  packages/downloader/vite.config.mts
  packages/logger/package.json
  packages/logger/vite.config.mts
  packages/model/package.json
  packages/model/vite.config.mts
  packages/plugin/package.json
  packages/plugin/vite.config.mts
  packages/runtime/package.json
  packages/server-admin/package.json
  packages/server/package.json
  packages/server/vite.config.mts
  packages/ui/package.json
  packages/utils/package.json
  packages/utils/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(spell): 添加未知单词
  pnpm-lock.yaml
  words.txt
Due: none

build(ts): 修复了一些只有tnb有的bug
  packages/plugin/test/lib/config.test.ts
  packages/plugin/test/lib/depends.test.ts
  packages/plugin/test/lib/driver/booter.test.ts
  packages/plugin/test/lib/driver/builtIn.test.ts
  packages/plugin/test/lib/driver/cleanup.test.ts
  packages/plugin/test/lib/driver/extensions.test.ts
  packages/plugin/test/lib/driver/init/native.test.ts
  packages/plugin/test/lib/driver/init/storage.test.ts
  packages/plugin/test/lib/driver/install.test.ts
  packages/plugin/test/lib/driver/loadPlan.test.ts
  packages/plugin/test/lib/driver/loader.test.ts
  packages/plugin/test/lib/driver/runtime.test.ts
  packages/plugin/test/lib/driver/runtimePlan.test.ts
  packages/plugin/test/lib/driver/store.test.ts
  packages/plugin/test/lib/features/core/booters/coreBooters.test.ts
  packages/plugin/test/lib/features/core/booters/utils.test.ts
  packages/plugin/test/lib/features/core/feature.test.ts
  packages/plugin/test/lib/features/core/installers/40-github.test.ts
  packages/plugin/test/lib/features/core/installers/9999-awesome.test.ts
  packages/plugin/test/lib/features/core/installers/downloadAsset.test.ts
  packages/plugin/test/lib/features/core/installers/installers.test.ts
  packages/plugin/test/lib/features/core/loaders/1_zip.test.ts
  packages/plugin/test/lib/features/core/loaders/loaders.test.ts
  packages/plugin/test/lib/features/core/runtime.test.ts
  packages/plugin/test/lib/features/registry.test.ts
  packages/plugin/test/lib/global.test.ts
  packages/plugin/test/lib/i18n.test.ts
  packages/plugin/test/lib/manifest.test.ts
  packages/plugin/test/lib/marketplace/client.test.ts
  packages/plugin/test/lib/marketplace/validation.test.ts
  packages/plugin/test/lib/plugin/otherProgress.test.ts
  packages/plugin/test/lib/pluginIcon.test.ts
  packages/ui/lib/components/DcMarkdown/index.vue
  packages/ui/lib/components/DcText.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 完成了核心插件的定义
  .oxlintrc.json
  packages/plugin/PLUGIN_SYSTEM.md
  packages/plugin/_lib/config.ts
  packages/plugin/_lib/features/core/config.ts
  packages/plugin/_lib/features/core/feature.ts
  packages/plugin/_lib/global.ts
  packages/plugin/_lib/index.ts
  packages/plugin/_lib/otherProgress.ts
  packages/plugin/_lib/plugin/index.ts
  packages/plugin/_lib/plugin/share.ts
  packages/plugin/_lib/plugin/subscribe.ts
  packages/plugin/_lib/plugin/user.ts
  packages/plugin/lib/core/config.ts
  packages/plugin/lib/core/env.ts
  packages/plugin/lib/core/index.ts
  packages/plugin/lib/core/share.ts
  packages/plugin/lib/export/env.ts
  packages/plugin/lib/export/hook/index.ts
  packages/plugin/lib/export/hook/lifecycle.ts
  packages/plugin/lib/export/hook/remote.ts
  packages/plugin/lib/export/hook/social.ts
  packages/plugin/lib/export/index.ts
  packages/plugin/lib/export/model/auth.ts
  packages/plugin/lib/export/model/index.ts
  packages/plugin/lib/export/model/remote.ts
  packages/plugin/lib/export/model/social.ts
  packages/plugin/lib/export/model/special.ts
  packages/plugin/lib/export/model/user.ts
  packages/plugin/lib/global.ts
  packages/plugin/lib/index.ts
  packages/plugin/lib/module/config/index.ts
  packages/plugin/lib/module/config/pointer.ts
  packages/plugin/lib/module/config/store.ts
  packages/plugin/lib/module/i18n/index.ts
  packages/plugin/lib/module/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 建立插件内核与架构边界
  packages/plugin/ARCHITECTURE.md
  packages/plugin/lib/core/config.ts
  packages/plugin/lib/core/index.ts
  packages/plugin/lib/core/share.ts
  packages/plugin/lib/kernel/candidate.ts
  packages/plugin/lib/kernel/capability.ts
  packages/plugin/lib/kernel/contribution.ts
  packages/plugin/lib/kernel/index.ts
  packages/plugin/lib/kernel/scope.ts
  packages/plugin/package.json
  packages/plugin/test/lib/architecture.test.ts
  packages/plugin/test/lib/kernel/capability.test.ts
  packages/plugin/test/lib/kernel/contribution.test.ts
  packages/plugin/test/lib/kernel/scope.test.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 统一贡献注册与能力激活内核
  packages/plugin/lib/api/hook/lifecycle.ts
  packages/plugin/lib/api/model/index.ts
  packages/plugin/lib/capabilities/channels.ts
  packages/plugin/lib/capabilities/config.ts
  packages/plugin/lib/capabilities/i18n.ts
  packages/plugin/lib/capabilities/index.ts
  packages/plugin/lib/capabilities/lifecycle.ts
  packages/plugin/lib/capabilities/model.ts
  packages/plugin/lib/capabilities/services.ts
  packages/plugin/lib/index.ts
  packages/plugin/lib/kernel/capability.ts
  packages/plugin/lib/kernel/contribution.ts
  packages/plugin/lib/kernel/dependency.ts
  packages/plugin/lib/kernel/index.ts
  packages/plugin/lib/module/config/store.ts
  packages/plugin/test/lib/architecture.test.ts
  packages/plugin/test/lib/capabilities/default.test.ts
  packages/plugin/test/lib/kernel/contribution.test.ts
  packages/plugin/test/lib/kernel/dependency.test.ts
  packages/plugin/test/lib/module/config/store.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code
