Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

fix(app): 展示未知总量下载状态
  packages/app/src/components/download/DownloadDetailDrawer.vue
  packages/app/src/components/download/DownloadList.vue
  packages/app/src/components/download/DownloadTaskCard.vue
  packages/app/src/features/downloads/format.ts
  packages/app/test/src/features/downloads/format.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 报告插件下载字节进度
  packages/app/src/features/pluginInstall/usePluginInstall.ts
  packages/app/src/i18n/locales/zh-CN.ts
  packages/plugin/lib/install/contracts.ts
  packages/plugin/lib/install/service.ts
  packages/plugin/lib/install/source.ts
  packages/plugin/test/lib/install/source.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 移除预加载插件类型
  PLUGIN_DEVELOPMENT.md
  packages/app/components.d.ts
  packages/app/src/AppSetup.vue
  packages/app/src/components/plugin/PluginPreloadRecoveryAlert.vue
  packages/app/src/components/plugin/index.vue
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/main.tsx
  packages/app/src/pages/main/plugin/list.vue
  packages/app/test/src/App.test.ts
  packages/app/test/src/components/plugin/marketplace/components.test.ts
  packages/app/test/src/components/plugin/startup.test.ts
  packages/db/lib/plugin.ts
  packages/db/test/lib/operations.test.ts
  packages/model/lib/model/plugin.ts
  packages/plugin/ARCHITECTURE.md
  packages/plugin/lib/api/hook/lifecycle.ts
  packages/plugin/lib/builtins/core.builtin.ts
  packages/plugin/lib/capabilities/auth.ts
  packages/plugin/lib/capabilities/index.ts
  packages/plugin/lib/capabilities/lifecycle.ts
  packages/plugin/lib/capabilities/services.ts
  packages/plugin/lib/composition.ts
  packages/plugin/lib/core/index.ts
  packages/plugin/lib/install/manifest.ts
  packages/plugin/lib/install/moduleReader.ts
  packages/plugin/lib/kernel/candidate.ts
  packages/plugin/lib/runtime/engine.ts
  packages/plugin/test/lib/capabilities/default.test.ts
  packages/plugin/test/lib/capabilities/models.test.ts
  packages/plugin/test/lib/install/manifest.test.ts
  packages/plugin/test/lib/install/moduleReader.test.ts
  packages/plugin/test/lib/runtime/engine.test.ts
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 按阶段创建插件安装进度
  packages/app/src/features/pluginInstall/runPluginInstallPhases.ts
  packages/app/test/src/features/pluginInstall/usePluginInstall.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(app): 分项展示插件安装进度
  packages/app/src/features/pluginInstall/progress.ts
  packages/app/src/features/pluginInstall/runPluginInstallPhases.ts
  packages/app/src/features/pluginInstall/usePluginInstall.ts
  packages/app/test/src/features/pluginInstall/usePluginInstall.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(downloader): 更新 Android 下载通知进度
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadJobService.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadRuntime.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadWorker.kt
  packages/downloader/android/src/test/java/org/deltacomic/downloader/NotificationProgressTest.kt
  packages/downloader/src/mobile.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

perf(build): 优化 Rust nightly 编译配置
  .cargo/config.toml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(app): 显示插件安装确认按钮
  packages/app/src/pages/main/plugin/download.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 修复插件安装确认弹窗
  packages/app/src/pages/main/plugin/download.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 禁用输入框自动大写
  packages/app/src/main.tsx
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 支持多文件插件协议
  Cargo.lock
  packages/app/main.html
  packages/plugin/Cargo.toml
  packages/plugin/lib/adapters/fileStore.ts
  packages/plugin/src/lib.rs
  packages/plugin/src/protocol.rs
  packages/plugin/test/lib/adapters/fileStore.test.ts
  packages/plugin/test/src/protocol.rs
  packages/plugin/test/vite/index.test.ts
  packages/plugin/vite/index.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 修复自动大写禁用逻辑
  Cargo.lock
  Cargo.toml
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/src/lib.rs
  packages/app/src/main.tsx
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 避免依赖异常阻塞应用启动
  packages/plugin/lib/runtime/engine.ts
  packages/plugin/test/lib/runtime/engine.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 自动下载插件依赖
  PLUGIN_DEVELOPMENT.md
  packages/plugin/lib/composition.ts
  packages/plugin/lib/install/service.ts
  packages/plugin/test/lib/install/service.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 允许原生端写入剪贴板
  packages/app/src-tauri/capabilities/default.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 支持动态启用与停用插件
  PLUGIN_DEVELOPMENT.md
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/pages/main/plugin/list.vue
  packages/plugin/ARCHITECTURE.md
  packages/plugin/lib/composition.ts
  packages/plugin/lib/runtime/engine.ts
  packages/plugin/test/lib/runtime/engine.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 修正插件启用状态并规范化布尔边界
  packages/app/src/pages/main/plugin/list.vue
  packages/plugin/lib/install/candidateProvider.ts
  packages/plugin/test/lib/runtime/providers.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 给enable打补丁，实质问题未解决
  .vscode/settings.json
  AGENTS.md
  packages/app/src/components/plugin/loadList.vue
  packages/app/src/i18n/index.ts
  packages/app/src/pages/main/plugin/list.vue
  packages/plugin/lib/adapters/i18n.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 安装更新即用与插件热重载
  PLUGIN_DEVELOPMENT.md
  packages/plugin/ARCHITECTURE.md
  packages/plugin/lib/adapters/fileStore.ts
  packages/plugin/lib/composition.ts
  packages/plugin/lib/runtime/engine.ts
  packages/plugin/test/lib/adapters/fileStore.test.ts
  packages/plugin/test/lib/runtime/engine.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): i18n 注册表合成不再突变宿主与插件消息
  packages/plugin/lib/adapters/i18n.ts
  packages/plugin/test/lib/adapters/i18n.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(app): 将分散的软翻译实现收敛为 @/i18n 单一工具函数
  packages/app/src/components/plugin/loadList.vue
  packages/app/src/features/pluginAuth/gateway.ts
  packages/app/src/i18n/index.ts
  packages/app/src/i18n/pluginText.ts
  packages/app/src/pages/main/plugin/config.vue
  packages/app/src/pages/main/plugin/list.vue
  packages/app/src/pages/setting.vue
  packages/app/test/src/i18n/index.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 整合插件文本 API 到 pluginI18n
  PLUGIN_DEVELOPMENT.md
  packages/app/src/components/plugin/loadList.vue
  packages/app/src/features/pluginAuth/gateway.ts
  packages/app/src/i18n/index.ts
  packages/app/src/i18n/pluginText.ts
  packages/app/src/pages/main/plugin/list.vue
  packages/app/src/pages/setting.vue
  packages/app/test/src/features/pluginAuth/gateway.test.ts
  packages/plugin/lib/adapters/i18n.ts
  packages/plugin/lib/composition.ts
  packages/plugin/lib/core/share.ts
  packages/plugin/test/lib/adapters/i18n.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 移除 i18n 文本协议前缀，统一按普通 key 解析
  PLUGIN_DEVELOPMENT.md
  packages/app/test/src/features/pluginAuth/gateway.test.ts
  packages/plugin/lib/adapters/i18n.ts
  packages/plugin/lib/core/share.ts
  packages/plugin/test/lib/adapters/i18n.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 鉴权弹窗解析插件文本协议键与普通 i18n 键
  PLUGIN_DEVELOPMENT.md
  packages/app/src/features/pluginAuth/gateway.ts
  packages/app/src/i18n/pluginText.ts
  packages/app/src/pages/setting.vue
  packages/app/test/src/App.test.ts
  packages/app/test/src/features/pluginAuth/gateway.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(app): 日期格式化交由 dayjs，新增 @/i18n formatDate
  packages/app/src/components/logs/LogFileList.vue
  packages/app/src/components/plugin/marketplace/PluginMarketplaceDetails.vue
  packages/app/src/i18n/index.ts
  packages/app/src/utils/date.ts
  packages/app/test/src/components/logs/components.test.ts
  packages/app/test/src/i18n/index.test.ts
  packages/app/test/src/utils/date.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(vscode): 删除过时配置
  .vscode/settings.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci(ai): serena mcp
  .serena/.gitignore
  .serena/project.yml
  .vscode/settings.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor(plugin): 统一 remote 与 resource 模型为 type 区分的 TestGroup
  packages/plugin/lib/api/hook/remote.ts
  packages/plugin/lib/api/index.ts
  packages/plugin/lib/api/model/index.ts
  packages/plugin/lib/api/model/remote.ts
  packages/plugin/lib/api/model/resource.ts
  packages/plugin/lib/capabilities/channels.ts
  packages/plugin/lib/capabilities/index.ts
  packages/plugin/lib/capabilities/model.ts
  packages/plugin/lib/capabilities/remote.ts
  packages/plugin/lib/capabilities/resource.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: 同步 remote/resource 统一模型文档
  PLUGIN_DEVELOPMENT.md
  packages/plugin/ARCHITECTURE.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(plugin): 过时计划删除
  packages/app/src/features/pluginAuth/gateway.ts
  packages/plugin/重构方案.excalidraw
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(model): 将资源 fork 存储改为 url 数组并引入 UniResourceProcessor
  packages/model/lib/model/resource.ts
  packages/model/test/lib/index.test.ts
  packages/model/test/lib/model/models.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(model): 用 @field/@transform 装饰器消除 Struct 模型逐字段复制
  packages/model/lib/model/comment.ts
  packages/model/lib/model/ep.ts
  packages/model/lib/model/item.ts
  packages/model/lib/model/resource.ts
  packages/model/lib/model/user.ts
  packages/model/lib/struct/decorators.ts
  packages/model/lib/struct/index.ts
  packages/model/lib/struct/meta.ts
  packages/model/lib/struct/struct.ts
  packages/model/package.json
  packages/model/test/lib/struct/decorators.test.ts
  packages/model/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 适配统一端点组的连带修正与测试
  PLUGIN_DEVELOPMENT.md
  packages/app/src/components/forkSelect.vue
  packages/plugin/lib/api/model/remote.ts
  packages/plugin/test/lib/capabilities/models.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(model): 用官方推荐的 @swc/core 替代 esbuild 降级标准装饰器
  packages/model/package.json
  packages/model/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(agent): 规范化ai的ts写法
  AGENTS.md
  packages/plugin/重构方案.excalidraw
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor: module augmentation 类型安全（三）
  TODOS.md
  packages/app/src/env.d.ts
  packages/app/src/platform.ts
  packages/app/test/src/App.test.ts
  packages/app/test/src/components/searchInteractions.test.ts
  packages/app/test/src/components/user/favouriteCard.test.ts
  packages/app/test/src/platform.test.ts
  packages/app/test/src/router.test.ts
  packages/ui/env.d.ts
  packages/utils/lib/env.ts
  packages/utils/lib/var.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 消除 as unknown as 强制转换（一）
  TODOS.md
  packages/model/lib/struct/struct.ts
  packages/plugin/lib/kernel/contribution.ts
  packages/plugin/package.json
  packages/plugin/vite/index.ts
  packages/server/app/index.ts
  packages/server/app/shared/http/cors.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 消除 as any/裸 any 与 as never 断言（二）
  TODOS.md
  packages/app/src/cloud/syncAdapter.ts
  packages/db/lib/config.ts
  packages/db/lib/favourite.ts
  packages/db/lib/history.ts
  packages/db/lib/index.ts
  packages/db/lib/plugin.ts
  packages/db/lib/recentView.ts
  packages/db/lib/subscribe.ts
  packages/db/lib/utils.ts
  packages/logger/lib/logger.ts
  packages/model/lib/model/comment.ts
  packages/model/lib/model/content.ts
  packages/model/lib/model/image.ts
  packages/model/lib/model/item.ts
  packages/model/lib/struct/meta.ts
  packages/model/lib/struct/store.ts
  packages/plugin/lib/adapters/configStore.ts
  packages/plugin/lib/api/config.ts
  packages/plugin/lib/api/model/user.ts
  packages/ui/lib/components/DcMarkdown/index.vue
  packages/ui/lib/components/form/components/DcForm.vue
  packages/ui/lib/components/form/components/DcFormItem.vue
  packages/ui/lib/components/form/type.ts
  packages/ui/lib/message/download.tsx
  packages/ui/src/router.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(agent): 勾选 4-20 已完成项
  TODOS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: 更新部分依赖
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
