Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

chore(client): 重新生成移动端 Android 工程
  packages/client/app/mobile/src-tauri/gen/android/buildSrc/src/main/java/org/wenxig/delta_comic/kotlin/BuildTask.kt
Due: none

refactor(client): 合并 native crate 到 core
  ARCHITECTURE.md
  Cargo.toml
  packages/client/app/core/native/Cargo.toml
  packages/client/app/core/native/src/lib.rs
  progress.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor(client): 移除 core native 子目录
  ARCHITECTURE.md
  Cargo.toml
  packages/client/app/core/Cargo.toml
  packages/client/app/core/src/lib.rs
  progress.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(lint): 接入 Tailwind 严格检查
  .oxlintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(lint): 收敛 Tailwind 检查规则
  .oxlintrc.json
  eslint.config.mjs
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(lint): 仅启用 Tailwind 规范化建议
  .oxlintrc.json
  .twlintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  twlinter.css
  vite.config.ts
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

style(lint): 优化lint工作流
  .oxfmtrc.json
  .oxlintrc.json
  Cargo.toml
  eslint.config.mjs
  package.json
  packages/client/platform/http/Cargo.toml
  pnpm-lock.yaml
  twlinter.css
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

test: 清理凑数断言
  findings.md
  packages/client/app/core/test/lib/logger/TauriLoggerClient.test.ts
  packages/client/app/desktop/test/src/App.test.ts
  packages/client/app/desktop/test/src/components/plugin/marketplace/container.test.ts
  packages/client/app/desktop/test/src/pages/main/plugin/download.test.ts
  packages/client/app/desktop/test/src/platform.test.ts
  packages/client/app/desktop/test/src/router.test.ts
  packages/client/app/mobile/test/src/App.test.ts
  packages/client/app/mobile/test/src/components/plugin/marketplace/container.test.ts
  packages/client/app/mobile/test/src/pages/main/plugin/download.test.ts
  packages/client/app/mobile/test/src/platform.test.ts
  packages/client/app/mobile/test/src/router.test.ts
  packages/client/data/db/test/lib/index.test.ts
  packages/client/data/db/test/lib/web-dialect.test.ts
  packages/client/ui/ui/test/lib/components/DcImage.test.ts
  packages/client/ui/ui/test/lib/components/form/form.test.ts
  packages/server/admin/panel/test/src/router.test.ts
  packages/shared/plugin/manifest/test/index.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

test: 下调覆盖率阈值
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: 记录测试审计进度
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

test: 移除 UI 样式实现断言
  findings.md
  packages/client/ui/ui/test/lib/components/DcMarkdown/markdown.test.ts
  packages/client/ui/ui/test/lib/components/DcPullRefresh.test.ts
  packages/client/ui/ui/test/lib/components/DcTab.test.ts
  packages/client/ui/ui/test/lib/components/DcVirtualWaterfall.test.ts
  packages/client/ui/ui/test/lib/components/basic.test.ts
  packages/client/ui/ui/test/lib/components/config-provider/config-provider.test.ts
  packages/client/ui/ui/test/lib/tailwind-components.test.ts
  packages/client/ui/ui/test/lib/utils/index.test.ts
  packages/server/admin/panel/test/src/shared/components/components.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(release): 排除内部 HTTP 包发布
  packages/client/platform/http/package.json
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(http): 迁移 TauRPC 请求通道
  packages/client/platform/http/Cargo.toml
  packages/client/platform/http/build.rs
  packages/client/platform/http/package.json
  packages/client/platform/http/src-web/bindings.ts
  packages/client/platform/http/src-web/fetch.test.ts
  packages/client/platform/http/src-web/fetch.ts
  packages/client/platform/http/src-web/index.test.ts
  packages/client/platform/http/src-web/index.ts
  packages/client/platform/http/src/commands/cookie.rs
  packages/client/platform/http/src/commands/fetch.rs
  packages/client/platform/http/src/error.rs
  packages/client/platform/http/src/lib.rs
  packages/client/platform/http/src/request.rs
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(ipc): 在 TauRPC 路由构造时进入 runtime
  findings.md
  packages/client/app/core/src/lib.rs
  packages/client/core/plugin/src/lib.rs
  packages/client/core/utils/src/lib.rs
  packages/client/data/db/src/lib.rs
  packages/client/platform/downloader/src/lib.rs
  packages/client/platform/http/src/lib.rs
  packages/client/platform/logger/src/lib.rs
  progress.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(app): 修复组件自动导入与 Vapor 编译冲突
  packages/client/app/desktop/components.d.ts
  packages/client/app/desktop/vite.config.mts
  packages/client/app/mobile/vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(desktop): 调整了侧边栏布局
  packages/client/app/desktop/src/components/navigation/AppNavigation.vue
  packages/client/app/desktop/src/components/navigation/AppNavigationItem.vue
  packages/client/app/desktop/src/pages/main/home.vue
  packages/client/app/desktop/src/pages/main/subscribe.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(logger): 增加前端原生日志回传开关
  packages/client/app/core/lib/logger/TauriLoggerClient.ts
  packages/client/app/desktop/src/logger.ts
  packages/client/app/mobile/src/logger.ts
  packages/client/platform/logger/src/tracing_bridge.rs
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(desktop): subscribe查询
  .planning/.active_plan
  .planning/2026-10-04-2026-10-04-monorepo-package-boundaries/findings.md
  .planning/2026-10-04-2026-10-04-monorepo-package-boundaries/progress.md
  .planning/2026-10-04-2026-10-04-monorepo-package-boundaries/task_plan.md
  packages/client/app/desktop/package.json
  packages/client/app/desktop/src/pages/main/subscribe.vue
  packages/client/app/desktop/vite.config.mts
  packages/client/app/mobile/package.json
  packages/client/app/mobile/src/pages/main/subscribe.vue
  packages/client/app/mobile/vite.config.mts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(test): 接入 Vapor 互操作插件
  packages/client/app/desktop/test/setup.ts
  packages/client/app/desktop/test/src/components/download/downloadComponents.test.ts
  packages/client/app/desktop/test/src/components/logs/components.test.ts
  packages/client/app/desktop/test/src/components/navigation/AppNavigation.test.ts
  packages/client/app/desktop/test/src/components/vapor.test.ts
  packages/client/app/mobile/test/setup.ts
  packages/client/app/mobile/test/src/components/logs/components.test.ts
  packages/client/app/mobile/test/src/components/navigation/AppNavigation.test.ts
  packages/client/app/mobile/test/src/components/vapor.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(ipc): 下沉 TauRPC 绑定生成责任
  findings.md
  packages/client/app/core/src/lib.rs
  packages/client/app/core/test/src/bindings.rs
  packages/client/app/desktop/src-tauri/src/lib.rs
  packages/client/app/mobile/src-tauri/src/lib.rs
  packages/client/core/plugin/src/lib.rs
  packages/client/core/plugin/test/src/bindings.rs
  packages/client/core/utils/src/lib.rs
  packages/client/core/utils/test/src/bindings.rs
  packages/client/data/db/src/lib.rs
  packages/client/data/db/test/src/bindings.rs
  packages/client/platform/downloader/src/lib.rs
  packages/client/platform/downloader/test/src/bindings.rs
  packages/client/platform/http/src/lib.rs
  packages/client/platform/http/test/src/bindings.rs
  packages/client/platform/logger/src/lib.rs
  packages/client/platform/logger/test/src/bindings.rs
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(toolchain): complete Vite+ 1.0 migration
  .github/workflows/coverage.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .node-version
  AGENTS.md
  package.json
  packages/client/app/desktop/package.json
  packages/client/app/mobile/package.json
  packages/client/platform/logger/vite.config.mts
  packages/client/ui/ui/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(release): 通过现有 CI 发布到 GitHub Packages
  .github/workflows/release.yaml
  docs/release-workflow.md
  script/semantic-release-plugin.mts
  script/test/release-control.test.ts
  script/test/semantic-release-plugin.command.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(toolchain): complete Vite+ 1.0 migration (#49)
  .github/workflows/coverage.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .node-version
  AGENTS.md
  package.json
  packages/client/app/desktop/package.json
  packages/client/app/mobile/package.json
  packages/client/platform/logger/vite.config.mts
  packages/client/ui/ui/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

test(scripts): 删除不必要测试
  script/test/codegen/kysely.test.ts
  script/test/codegen/schema.test.ts
  script/test/codegen/sql.test.ts
  script/test/codegen/typebox-migration.test.ts
  script/test/release-branches.test.ts
  script/test/release-configuration.test.ts
  script/test/release-control.test.ts
  script/test/release-edge-cases.test.ts
  script/test/release-environment.test.ts
  script/test/release-notes.test.ts
  script/test/release-workspace.test.ts
  script/test/release.command.test.ts
  script/test/semantic-release-plugin.command.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code
