Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

ci(build): dev build
  .github/workflows/dev-build.yaml
Due: none

ci(build): fix tag name
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
Due: none

style: type-aware lint
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/override.ts
  src/plugin/core.ts
  src/plugin/init/booter/20_resourceTest.ts
  src/plugin/init/booter/40_auth.ts
  src/stores/app.ts
  src/stores/content.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

ci: dev release
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
  words.txt
Due: none

build(build): version change
  src-tauri/tauri.conf.json
Due: pnpm exec cspell --no-exit-code

fix(build): ci cache fail
  .github/workflows/dev-build.yaml
Due: none

fix(build): ci android init
  .github/workflows/dev-build.yaml
Due: none

fix(build): version
  src-tauri/tauri.conf.json
Due: pnpm exec cspell --no-exit-code

fix(build): apk sign
  .github/workflows/dev-build.yaml
Due: none

fix(build): ci create sign
  .github/workflows/dev-build.yaml
Due: none

fix(build): sec
  .github/workflows/dev-build.yaml
Due: none

fix(build): sign
  .github/workflows/dev-build.yaml
Due: none

ci(build): lint
  .github/workflows/dev-build.yaml
  .github/workflows/lint.yaml
Due: none

fix(build): ci form
  .github/workflows/dev-build.yaml
Due: none

ci(build): rm repeat flow
  .github/workflows/dev-build.yaml
Due: none

ci: semantic release
  .github/workflows/build.yaml
  .vscode/settings.json
  env.d.ts
  package.json
  pnpm-lock.yaml
  release.config.mts
  script/update-version.mts
  src-tauri/Cargo.toml
  src/router.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code

ci: better cache
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
  pnpm-lock.yaml
Due: none

ci: version fix
  .github/workflows/build.yaml
  script/restore-version.mts
  script/set-version.mts
  script/update-version.mts
  src-tauri/tauri.conf.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore(spell): remove unused word
  words.txt
Due: none

revert(type): back old
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: pnpm exec cspell --no-exit-code

style: fmt
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
  .github/workflows/lint.yaml
  src-tauri/tauri.conf.json
  tsconfig.json
  tsconfig.node.json
Due: pnpm exec cspell --no-exit-code

style: fmt fallback
  .editorconfig
Due: none

ci: better version update
  .github/workflows/build.yaml
  package.json
  pnpm-lock.yaml
  release.config.mts
  script/restore-version.mts
  script/set-version.mts
  script/update-version.mts
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/db/index.ts
  tsconfig.node.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code

style: import sort
  .oxfmtrc.json
  .vscode/extensions.json
  .vscode/settings.json
  script/set-version.mts
  script/update-version.mts
  src/db/favourite.ts
  src/db/history.ts
  src/db/index.ts
  src/db/itemStore.ts
  src/db/recentView.ts
  src/db/subscribe.ts
  src/lib.ts
  src/main.tsx
  src/plugin/init/booter/10_apiTest.ts
  src/plugin/init/booter/20_resourceTest.ts
  src/plugin/init/index.ts
  src/plugin/init/utils.ts
  src/utils/createForm.tsx
  tsconfig.node.json
  vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: db died locked
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/components/favouriteSelect.vue
  src/components/home/mainPageSearchBar.vue
  src/db/favourite.ts
  src/db/history.ts
  src/db/index.ts
  src/db/recentView.ts
  src/main.tsx
  src/pages/user/favourite.vue
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix(ci): release call script and config
  .github/workflows/build.yaml
  .releaserc.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: favourite item foreign key
  src/db/index.ts
  src/db/migrations/3_fix_fvi_foreign_key.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore: upper log level
  src-tauri/src/logger.rs
Due: pnpm exec cspell --no-exit-code

chore: add prop of author icon
  package.json
  src/plugin/core.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: history
  pnpm-lock.yaml
  src/db/itemStore.ts
  src/lib.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

ci: fmt ig path add
  .oxfmtrc.json
Due: pnpm exec cspell --no-exit-code

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  692b1fdcf3324441a4a4dd967d969861cdf0718d
Due: none

chore: update depends
  components.d.ts
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/android/tauri.settings.gradle
  src/lib.ts
  typed-router.d.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: history list order
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/pages/user/history.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: recent list order
  src/pages/user/recent.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code

feat: Better Net (#21)
  .oxfmtrc.json
  components.d.ts
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/android/tauri.settings.gradle
  src-tauri/src/lib.rs
  src/lib.ts
  src/pages/user/history.vue
  src/pages/user/recent.vue
  typed-router.d.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix(build): readme fmt
  README.md
Due: pnpm exec cspell --no-exit-code
