Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

refactor(plugin): 拆分插件协议包
  findings.md
  packages/client/core/sdk/lib/manifest.ts
  packages/client/core/sdk/package.json
  packages/server/core/server/lib/serverManifest.ts
  packages/server/core/server/package.json
  packages/shared/core/both/lib/index.ts
  packages/shared/core/both/package.json
  packages/shared/core/both/test/both.test.ts
  packages/shared/core/both/vite.config.mts
  packages/shared/plugin/api/lib/index.ts
  packages/shared/plugin/api/package.json
  packages/shared/plugin/api/test/index.test.ts
  packages/shared/plugin/api/tsconfig.json
  packages/shared/plugin/api/vite.config.mts
  packages/shared/plugin/artifact/lib/index.ts
  packages/shared/plugin/artifact/package.json
  packages/shared/plugin/artifact/test/index.test.ts
  packages/shared/plugin/artifact/tsconfig.json
  packages/shared/plugin/artifact/vite.config.mts
  packages/shared/plugin/manifest/lib/index.ts
  packages/shared/plugin/manifest/package.json
  packages/shared/plugin/manifest/test/index.test.ts
  packages/shared/plugin/manifest/tsconfig.json
  packages/shared/plugin/manifest/vite.config.mts
  packages/shared/plugin/plugin/lib/install/artifactReader.ts
  packages/shared/plugin/plugin/package.json
  packages/shared/plugin/plugin/test/lib/install/moduleReader.test.ts
  pnpm-lock.yaml
  progress.md
  script/set-version.mts
  script/test/release-workspace.test.ts
  script/test/semantic-release-plugin.command.test.ts
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(plugin): 记录6G拆包设计
  docs/superpowers/specs/2026-09-27-plugin-6g-package-split-design.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 完成Runtime聚合接线
  findings.md
  packages/shared/plugin/api/lib/index.ts
  packages/shared/plugin/kernel/lib/candidate.ts
  packages/shared/plugin/kernel/lib/capability.ts
  packages/shared/plugin/kernel/lib/contribution.ts
  packages/shared/plugin/kernel/lib/dependency.ts
  packages/shared/plugin/kernel/lib/index.ts
  packages/shared/plugin/kernel/lib/scope.ts
  packages/shared/plugin/kernel/package.json
  packages/shared/plugin/kernel/test/index.test.ts
  packages/shared/plugin/kernel/tsconfig.json
  packages/shared/plugin/kernel/vite.config.mts
  packages/shared/plugin/loader/lib/index.ts
  packages/shared/plugin/loader/package.json
  packages/shared/plugin/loader/test/index.test.ts
  packages/shared/plugin/loader/tsconfig.json
  packages/shared/plugin/loader/vite.config.mts
  packages/shared/plugin/plugin/lib/builtins/core.builtin.ts
  packages/shared/plugin/plugin/lib/builtins/index.ts
  packages/shared/plugin/plugin/lib/composition.ts
  packages/shared/plugin/plugin/lib/composition/runtimeAdapter.ts
  packages/shared/plugin/plugin/lib/index.ts
  packages/shared/plugin/plugin/lib/install/candidateProvider.ts
  packages/shared/plugin/plugin/package.json
  packages/shared/plugin/plugin/test/lib/runtime/engine.test.ts
  packages/shared/plugin/plugin/test/lib/runtime/providers.test.ts
  packages/shared/plugin/plugin/test/lib/runtime/store.test.ts
  packages/shared/plugin/runtime/lib/engine.ts
  packages/shared/plugin/runtime/lib/index.ts
  packages/shared/plugin/runtime/lib/providers.ts
  packages/shared/plugin/runtime/lib/store.ts
  packages/shared/plugin/runtime/package.json
  packages/shared/plugin/runtime/test/index.test.ts
  packages/shared/plugin/runtime/tsconfig.json
  packages/shared/plugin/runtime/tsconfig.typecheck.json
  packages/shared/plugin/runtime/vite.config.mts
  pnpm-lock.yaml
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 接入插件目录条件发布
  docs/plugin-marketplace-deployment.md
  findings.md
  packages/server/core/server/app/index.ts
  packages/server/core/server/lib/catalogHandler.ts
  packages/server/core/server/lib/catalogPublishHandler.ts
  packages/server/core/server/lib/catalogStore.ts
  packages/server/core/server/test/lib/catalogHandler.test.ts
  packages/server/core/server/test/lib/catalogStore.test.ts
  packages/shared/core/both/lib/releasePublisher.ts
  packages/shared/core/both/lib/releaseStore.ts
  packages/shared/core/both/test/lib/releasePublisher.test.ts
  packages/shared/core/both/test/lib/releaseStore.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 修复Runtime模型类型检查
  findings.md
  packages/shared/plugin/runtime/lib/store.ts
  packages/shared/plugin/runtime/test/index.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: 补充仓库工程约定
  AGENTS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(server): 迁移静态插件 Cordis 生命周期
  packages/server/core/server/app/modules/plugins/plugins.executor.ts
  packages/server/core/server/app/modules/plugins/plugins.service.ts
  packages/server/core/server/test/app/modules/plugins/plugins.executor.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 完成插件诊断与产物运行时边界
  packages/server/core/server/app/env.ts
  packages/server/core/server/app/index.ts
  packages/server/core/server/lib/catalogArtifactHandler.ts
  packages/server/core/server/lib/catalogArtifacts.ts
  packages/server/core/server/lib/diagnosticHandler.ts
  packages/server/core/server/lib/index.ts
  packages/server/core/server/lib/workerProvisioner.ts
  packages/server/core/server/test/app/index.test.ts
  packages/server/core/server/test/lib/catalogArtifacts.test.ts
  packages/server/core/server/test/lib/diagnosticHandler.test.ts
  packages/server/core/server/test/lib/workerProvisioner.test.ts
  packages/server/core/server/wrangler.jsonc
  packages/shared/core/both/lib/diagnostic.ts
  packages/shared/core/both/test/both.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 完成插件安装与部署边界
  .github/workflows/server-deploy.yaml
  docs/plugin-marketplace-deployment.md
  packages/server/admin/server-admin/src/features/observability/ObservabilityPage.vue
  packages/server/core/server/lib/catalogArtifactHandler.ts
  packages/server/core/server/lib/catalogArtifacts.ts
  packages/server/core/server/lib/catalogPublishHandler.ts
  packages/server/core/server/lib/diagnosticHandler.ts
  packages/server/core/server/lib/index.ts
  packages/server/core/server/lib/pluginInstallation.ts
  packages/server/core/server/lib/workerProvisioner.ts
  packages/server/core/server/test/app/index.test.ts
  packages/server/core/server/test/lib/catalogArtifacts.test.ts
  packages/server/core/server/test/lib/catalogPublishHandler.test.ts
  packages/server/core/server/test/lib/diagnosticHandler.test.ts
  packages/server/core/server/test/lib/pluginInstallation.cloudflare.test.ts
  packages/server/core/server/test/lib/pluginInstallation.test.ts
  packages/server/core/server/test/lib/workerProvisioner.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: 标记阶段6完成并记录验证
  findings.md
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

style: 同步阶段6格式检查结果
  .github/workflows/server-deploy.yaml
  packages/server/core/server/lib/workerProvisioner.ts
  packages/server/core/server/test/app/index.test.ts
  packages/server/core/server/test/lib/catalogArtifacts.test.ts
  packages/shared/plugin/plugin/package.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(admin): 修复诊断页面加载占位条件
  packages/server/admin/server-admin/src/features/observability/ObservabilityPage.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: 记录阶段6最终验收
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 完成阶段7产物与升级边界
  packages/shared/plugin/artifact/lib/index.ts
  packages/shared/plugin/artifact/test/index.test.ts
  packages/shared/plugin/install/lib/artifactReader.ts
  packages/shared/plugin/install/lib/codec.ts
  packages/shared/plugin/install/lib/contracts.ts
  packages/shared/plugin/install/lib/index.ts
  packages/shared/plugin/install/lib/manifest.ts
  packages/shared/plugin/install/lib/moduleGraph.ts
  packages/shared/plugin/install/lib/service.ts
  packages/shared/plugin/install/test/lib/install/codec.test.ts
  packages/shared/plugin/install/test/lib/install/manifest.test.ts
  packages/shared/plugin/install/test/lib/install/moduleReader.test.ts
  packages/shared/plugin/install/test/lib/install/service.test.ts
  packages/shared/plugin/manifest/lib/index.ts
  packages/shared/plugin/manifest/package.json
  packages/shared/plugin/plugin/lib/composition.ts
  pnpm-lock.yaml
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(diagnostics): 完成安全隔离与事件回放
  findings.md
  packages/client/core/sdk/lib/diagnostics.ts
  packages/client/core/sdk/lib/index.ts
  packages/client/core/sdk/lib/runtime.ts
  packages/client/core/sdk/package.json
  packages/server/core/server/lib/diagnostics.ts
  packages/server/core/server/lib/index.ts
  packages/server/core/server/lib/serverHost.ts
  packages/server/core/server/lib/serverRuntime.ts
  packages/server/core/server/lib/workerProvisioner.ts
  packages/server/core/server/package.json
  packages/server/core/server/test/lib/sdk.test.ts
  packages/server/core/server/test/lib/workerProvisioner.test.ts
  packages/shared/core/both/lib/diagnostic.ts
  packages/shared/core/both/lib/runtime.ts
  packages/shared/core/both/test/both.test.ts
  packages/shared/plugin/kernel/lib/scope.ts
  packages/shared/plugin/kernel/test/index.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

style(plugin): 同步模块图格式
  packages/shared/plugin/install/lib/moduleGraph.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(architecture): 完成第八九章验收记录
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(app): 完成宿主能力与诊断数据模型
  packages/client/app/app/src/clientHost.ts
  packages/client/app/app/src/host/profile.ts
  packages/client/app/app/src/main.tsx
  packages/client/app/app/src/platform.ts
  packages/client/app/app/test/src/host/profile.test.ts
  packages/client/core/sdk/lib/runtime.ts
  packages/client/data/db/lib/generated/plugin_diagnostic_log.sql
  packages/client/data/db/lib/generated/plugin_diagnostic_log.table.ts
  packages/client/data/db/lib/generated/schemas.ts
  packages/client/data/db/lib/index.ts
  packages/client/data/db/lib/pluginDiagnosticLog.ts
  packages/client/data/db/lib/web.ts
  packages/client/data/db/src/migrations.rs
  packages/client/data/db/test/lib/web.test.ts
  packages/shared/core/both/lib/diagnostic.ts
  script/codegen/client.table.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(release): 完成依赖与发布验收基线
  ARCHITECTURE.md
  findings.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(plugin-install): 保留开发模块动态导入标记
  packages/client/core/plugin-install/lib/moduleReader.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 修复原生启动阻塞并完善开发日志
  findings.md
  packages/client/app/app/main.html
  packages/client/app/app/src/entries/main.ts
  packages/client/app/app/src/entries/splash.ts
  packages/client/app/app/src/logger.ts
  packages/client/app/app/vite.config.mts
  packages/client/core/plugin-install/lib/artifactReader.ts
  packages/client/core/plugin/lib/index.ts
  packages/client/core/plugin/lib/vite.ts
  packages/client/core/plugin/package.json
  packages/client/core/plugin/vite.config.mts
  packages/client/platform/logger/src/model.rs
  packages/client/platform/logger/src/tracing_bridge.rs
  packages/client/platform/logger/test/src/model.rs
  packages/shared/core/logger/lib/logger.ts
  packages/shared/core/logger/test/lib/logger.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 接入原生 Cordis 客户端服务与构建桥接
  findings.md
  packages/client/core/plugin/lib/api/model/content.ts
  packages/client/core/plugin/lib/api/model/expose.ts
  packages/client/core/plugin/lib/api/model/remote.ts
  packages/client/core/plugin/lib/api/model/social.ts
  packages/client/core/plugin/lib/api/model/special.ts
  packages/client/core/plugin/lib/api/model/user.ts
  packages/client/core/plugin/lib/services.ts
  packages/client/core/plugin/package.json
  packages/client/core/plugin/test/lib/services.test.ts
  packages/client/core/runtime/lib/index.ts
  packages/client/core/runtime/package.json
  packages/client/core/sdk/lib/index.ts
  packages/client/core/sdk/lib/model/content.ts
  packages/client/core/sdk/lib/model/expose.ts
  packages/client/core/sdk/lib/model/remote.ts
  packages/client/core/sdk/lib/model/social.ts
  packages/client/core/sdk/lib/model/special.ts
  packages/client/core/sdk/lib/model/user.ts
  packages/client/core/sdk/lib/services.ts
  packages/client/core/sdk/package.json
  packages/client/core/utils/vite/index.ts
  pnpm-lock.yaml
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 收敛原生插件导出与架构文档
  ARCHITECTURE.md
  TODOS.md
  docs/plugin-marketplace-deployment.md
  packages/client/app/app/src/clientHost.ts
  packages/client/app/app/src/main.tsx
  packages/client/core/sdk/lib/host.ts
  packages/client/core/sdk/lib/ui.ts
  packages/server/admin/panel/test/src/features/pages.test.ts
  packages/shared/core/both/lib/index.ts
  packages/shared/core/both/lib/runtime.ts
  packages/shared/core/both/package.json
  packages/shared/core/both/test/both.test.ts
  packages/shared/core/both/vite.config.mts
  progress.md
  task_plan.md
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 完善安全模式管理与免费计划执行预算
  docs/plugin-flow-acceptance.md
  findings.md
  packages/client/app/app/src/pages/main/plugin/list.vue
  packages/client/core/plugin/lib/composition.ts
  packages/client/core/plugin/test/lib/composition.test.ts
  packages/server/core/server/app/modules/plugins/plugins.flow.repository.ts
  packages/server/core/server/app/modules/plugins/plugins.flow.service.ts
  packages/server/core/server/lib/diagnostics.ts
  packages/server/core/server/lib/flow.ts
  packages/server/core/server/package.json
  packages/server/core/server/test/app/modules/plugins/plugins.flow.service.test.ts
  packages/server/core/server/test/performance/flow.test.ts
  packages/server/core/server/test/performance/flow.worker.ts
  progress.md
  task_plan.md
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

test(plugin): 同步原生服务与安装协议验收夹具
  packages/client/app/app/test/src/App.test.ts
  packages/client/app/app/test/src/features/search/useSearchLanding.test.ts
  packages/client/core/plugin/test/lib/adapters/awesomeRegistry/client.test.ts
  packages/client/data/db/test/lib/operations.test.ts
  packages/client/data/db/test/lib/validation.test.ts
  packages/client/data/db/test/lib/web-dialect.test.ts
  packages/client/data/db/test/lib/writeValidation.test.ts
  progress.md
  script/test/release-workspace.test.ts
  script/test/semantic-release-plugin.command.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 修复 Web 插件文件更新与卸载
  docs/plugin-flow-acceptance.md
  packages/client/core/plugin/lib/adapters/fileStore.ts
  progress.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(plugin): 记录原生插件与 JSON 流程最终验收
  docs/plugin-flow-acceptance.md
  findings.md
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(ui): 拉开标签文字与指示线间距
  packages/client/ui/ui/lib/components/DcTab.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(deps): 更新了依赖
  AGENTS.md
  Cargo.toml
  packages/client/app/app/components.d.ts
  packages/client/app/app/typed-router.d.ts
  packages/client/core/model/package.json
  packages/client/core/plugin-artifact/package.json
  packages/client/core/plugin-install/package.json
  packages/client/core/plugin-vite/package.json
  packages/client/core/plugin/package.json
  packages/client/core/sdk/package.json
  packages/client/platform/downloader/Cargo.toml
  packages/client/platform/downloader/package.json
  packages/client/platform/logger/Cargo.toml
  packages/server/admin/panel/components.d.ts
  packages/server/admin/panel/package.json
  packages/server/core/server/package.json
  packages/shared/core/both/package.json
  packages/shared/core/logger/package.json
  packages/shared/plugin/manifest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typed-router.d.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 添加忽略名单
  .gitignore
Due: none

docs(skills): 同步升级后的构建与测试约定
  .agents/skills/tauri-v2/SKILL.md
  .agents/skills/tsdown/SKILL.md
  .agents/skills/tsdown/references/option-dts.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(skills): 同步服务端与插件技能的仓库工具约定
  .agents/skills/cloudflare/SKILL.md
  .agents/skills/cordis/SKILL.md
  .agents/skills/durable-objects/SKILL.md
  .agents/skills/elysiajs/SKILL.md
  .agents/skills/workers-best-practices/SKILL.md
  .agents/skills/wrangler/SKILL.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code
