Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix: rust
  src-tauri/src/lib.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs: comment area link
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix: settings page
  bun.lock
  package.json
  src/pages/setting.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix: docs link error
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs: more download, more download, more download
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: update deps
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat: new sentry version
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(ui): 修复了顶栏在短列表滚动时出现抖动的现象
  src/pages/main/home.vue
  src/pages/search/[input].vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(ui): 更好的markdown渲染样式
  bun.lock
  components.d.ts
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/components/md/DcMarkdown.vue
  src/components/md/dark.css
  src/components/md/light.css
  src/components/updateChecker.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 我决定以后使用中文提交，生成可读的changelog
  bun.lock
  package.json
  src/components/md/DcMarkdown.vue
  src/components/md/dark.css
  src/components/md/light.css
  src/components/updateChecker.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(deps): 更新部分依赖，跟进rust版本
  bun.lock
  components.d.ts
  package.json
  src-tauri/Cargo.toml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): [pub] 应用图标修复
  src-tauri/Cargo.lock
  src-tauri/gen/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  src-tauri/gen/android/app/src/main/res/values/ic_launcher_background.xml
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

Notes added by 'git notes add'
  44adaa6b1e64ad4b6017d4297bf6bb309bb5dd8e
Due: none

chore(docs): 删除过时内容
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(ui): 图片重试优化
  bun.lock
  package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: 完善了项目管理配置
  .github/workflows/lint.yaml
  .markdownlint.json
  README.md
  bun.lock
  package.json
  src-tauri/Cargo.lock
  words.txt
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: 更改代码格式
  src/pages/content/[contentType]/[id]/[ep].vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(docs): 修复文档图标
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix: 修复了循环依赖(plugin,db,ui)
  .husky/commit-msg
  .husky/pre-commit
  package.json
  packages/app/components.d.ts
  packages/app/src/pages/main/plugin/list.vue
  packages/app/tsconfig.json
  packages/app/tsconfig.node.json
  packages/app/vite.config.mts
  packages/db/lib/plugin.ts
  packages/db/package.json
  packages/plugin/lib/driver/index.ts
  packages/plugin/lib/driver/init/index.ts
  packages/plugin/lib/driver/init/installer/10_normalUrl.ts
  packages/plugin/lib/driver/init/installer/20_local.ts
  packages/plugin/lib/driver/init/installer/30_dev.ts
  packages/plugin/lib/driver/init/installer/40_github.ts
  packages/plugin/lib/driver/init/installer/9999_awesome.ts
  packages/plugin/lib/driver/init/loader/1_userscript.ts
  packages/plugin/lib/driver/init/loader/2_zip.ts
  packages/plugin/lib/driver/init/utils.ts
  packages/plugin/lib/plugin/index.ts
  packages/plugin/package.json
  packages/plugin/tsconfig.json
  packages/ui/lib/components/DcMarkdown/index.vue
  packages/ui/package.json
  packages/vite/README.md
  packages/vite/lib/index.ts
  packages/vite/package.json
  pnpm-lock.yaml
  script/set-version.mts
  tsconfig.base.json
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 微调项目介绍
  .lintstagedrc.yaml
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(ui): 修复返回拦截问题
  .oxfmtrc.json
  .vscode/extensions.json
  .vscode/settings.json
  packages/app/src/router.ts
  packages/ui/lib/components/DcContent.vue
  packages/ui/lib/components/DcFloatPopup.vue
  packages/ui/lib/components/DcImage.vue
  packages/ui/lib/components/DcImagedIcon.vue
  packages/ui/lib/components/DcList.vue
  packages/ui/lib/components/DcLoading.vue
  packages/ui/lib/components/DcMarkdown/index.vue
  packages/ui/lib/components/DcPopup.vue
  packages/ui/lib/components/DcRouterTab.vue
  packages/ui/lib/components/DcText.vue
  packages/ui/lib/components/DcToggleIcon.vue
  packages/ui/lib/components/DcWaterfall.vue
  packages/ui/lib/message/dialog.tsx
  packages/ui/lib/utils/image.ts
  packages/ui/lib/utils/index.ts
  packages/ui/lib/utils/layout.ts
  packages/ui/lib/utils/type.ts
  packages/ui/package.json
  pnpm-lock.yaml
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci: 修复了ci在新流程下的运行
  .cargo/config.toml
  .github/workflows/build.yaml
  package.json
  packages/app/package.json
  packages/core/package.json
  packages/core/tsconfig.node.json
  packages/core/vite.config.mts
  packages/db/package.json
  packages/db/tsconfig.node.json
  packages/db/vite.config.mts
  packages/model/package.json
  packages/model/tsconfig.node.json
  packages/model/vite.config.mts
  packages/plugin/package.json
  packages/plugin/tsconfig.node.json
  packages/plugin/vite.config.mts
  packages/request/package.json
  packages/request/tsconfig.node.json
  packages/request/vite.config.mts
  packages/ui/package.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.mts
  packages/utils/package.json
  packages/utils/tsconfig.node.json
  packages/utils/vite.config.mts
  packages/vite/lib/index.ts
  packages/vite/package.json
  packages/vite/tsconfig.node.json
  packages/vite/vite.config.mts
  pnpm-lock.yaml
  rustfmt.toml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci: 优化了issue模板
  .github/ISSUE_TEMPLATE/bug-install.yml
  .github/ISSUE_TEMPLATE/bug-runtime.yml
  .github/ISSUE_TEMPLATE/future-new.yml
  .github/ISSUE_TEMPLATE/future-support.yml
  .github/ISSUE_TEMPLATE/other.yml
Due: none

feat(ui): 优化了导航栏的行为
  packages/app/package.json
  packages/app/src/main.tsx
  packages/app/src/pages/content/[contentType]/[id]/[ep].vue
  packages/app/src/pages/main/home.vue
  packages/app/src/router.ts
  packages/app/tsconfig.json
  packages/app/vite.config.mts
  packages/core/lib/analyze.ts
  packages/core/lib/index.ts
  packages/core/package.json
  packages/ui/lib/components/DcRouterTab.vue
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 移除非必要依赖
  packages/app/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 完成响应式数据库重构
  packages/core/lib/ipc.ts
  packages/plugin/lib/driver/core.ts
  packages/plugin/lib/driver/index.ts
  packages/plugin/lib/driver/init/index.ts
  packages/plugin/lib/driver/store.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: 补齐贡献文档
  .github/workflows/lint.yaml
  CODEOFCONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  packages/app/src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix: 修复了样式检查
  .github/workflows/lint.yaml
  packages/app/vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

style: 格式化代码
  .github/workflows/lint.yaml
  .oxlintrc.json
  cspell.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src/components/subscribe/subCard.vue
  packages/app/src/pages/main/home/random.vue
  packages/app/src/pages/main/subscribe.vue
  packages/app/src/pages/search/[input].vue
  packages/db/lib/favourite.ts
  packages/db/lib/history.ts
  packages/db/lib/itemStore.ts
  packages/db/lib/plugin.ts
  packages/db/lib/recentView.ts
  packages/db/lib/subscribe.ts
  packages/plugin/lib/driver/init/booter/40_auth.ts
  packages/plugin/lib/plugin/index.ts
  packages/request/lib/axios.ts
  packages/ui/lib/index.ts
  packages/ui/lib/utils/type.ts
  packages/vite/vite.config.mts
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci: 修复依赖问题
  .github/workflows/lint.yaml
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci: 修复lock文件
  CODE_OF_CONDUCT.md
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci: 修复步骤名称
  .github/workflows/lint.yaml
Due: none

chore: 更新插件推荐列表
  .vscode/extensions.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix: colada实例随调用初始化
  Cargo.lock
  packages/app/src-tauri/Cargo.toml
  packages/app/src/AppSetup.vue
  packages/app/src/components/plugin/index.vue
  packages/app/src/logger.ts
  packages/app/src/main.tsx
  packages/app/src/pages/main/plugin/config.vue
  packages/app/src/pages/main/plugin/download.vue
  packages/app/src/pages/main/plugin/list.vue
  packages/core/lib/ipc.ts
  packages/db/lib/favourite.ts
  packages/db/lib/history.ts
  packages/db/lib/index.ts
  packages/db/lib/itemStore.ts
  packages/db/lib/plugin.ts
  packages/db/lib/recentView.ts
  packages/db/lib/subscribe.ts
  packages/db/lib/utils.ts
  packages/plugin/lib/driver/booter.ts
  packages/plugin/lib/driver/index.ts
  packages/plugin/lib/driver/init/index.ts
  packages/plugin/lib/driver/init/installer/10_normalUrl.ts
  packages/plugin/lib/driver/init/installer/40_github.ts
  packages/plugin/lib/driver/install.ts
  packages/plugin/lib/driver/loader.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix: 修复数据库初始同步失效问题
  Cargo.lock
  packages/app/src-tauri/Cargo.toml
  packages/app/src/AppSetup.vue
  packages/app/src/logger.ts
  packages/app/src/main.tsx
  packages/app/src/pages/main/plugin/list.vue
  packages/db/lib/favourite.ts
  packages/db/lib/history.ts
  packages/db/lib/plugin.ts
  packages/db/lib/recentView.ts
  packages/db/lib/subscribe.ts
  packages/plugin/lib/driver/booter.ts
  packages/plugin/lib/driver/loader.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 提取依赖至catalog
  package.json
  packages/core/package.json
  packages/ui/package.json
  packages/vite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

Path conditions:
  pnpm run lint: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  pnpm exec cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
  bun oxlint: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  bun cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
