Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

fix(build): deps
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

fix: lint in ci
  .github/workflows/lint.yaml
  .oxfmtrc.json
  .oxlintrc.json
Due: pnpm exec cspell --no-exit-code

fix: rust config
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/gen/android/tauri.settings.gradle
  src-tauri/src/lib.rs
Due: pnpm exec cspell --no-exit-code

fix: deps
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/android/tauri.settings.gradle
  src/main.tsx
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: ci version
  .releaserc.mjs
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix(build): config (#22)
  .github/workflows/lint.yaml
  .oxfmtrc.json
  .oxlintrc.json
  .releaserc.mjs
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/gen/android/tauri.settings.gradle
  src-tauri/src/lib.rs
  src/main.tsx
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: ci ndk
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
Due: none

fix: ci lint
  .oxfmtrc.json
  .vscode/settings.json
  words.txt
Due: pnpm exec cspell --no-exit-code

fix(build): ci (#23)
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
  .oxfmtrc.json
  .vscode/settings.json
  words.txt
Due: pnpm exec cspell --no-exit-code

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  a35b0df913e641513d135434777d4d0c2454a319
Due: none

fix: ci
  .oxfmtrc.json
  .vscode/settings.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/logger.rs
  words.txt
Due: pnpm exec cspell --no-exit-code

fix: build release white screen error
  .oxfmtrc.json
  .vscode/settings.json
  index.html
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/lib.ts
  src/main.tsx
  src/override.ts
  vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: import meta not support
  index.html
Due: pnpm exec cspell --no-exit-code

fix(build): build frontend error (#24)
  .oxfmtrc.json
  .vscode/settings.json
  index.html
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/logger.rs
  src-tauri/tauri.conf.json
  src/lib.ts
  src/main.tsx
  src/override.ts
  vite.config.mts
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  a035fd41117d8ad76fbebe41ba98ba8552aee474
Due: none

chore: update net lib
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code

chore: [pub] deps
  package.json
Due: pnpm exec cspell --no-exit-code

chore: remove useless deps
  package.json
Due: pnpm exec cspell --no-exit-code

chore: better plugin file
  src/components/setup/download.vue
  src/components/setup/mainContent.vue
  src/plugin/init/index.ts
  src/plugin/init/installer/1_normalUrl.ts
  src/plugin/init/installer/2_dev.ts
  src/plugin/init/installer/3_github.ts
  src/plugin/init/installer/4_local.ts
  src/plugin/init/loader/1_userscript.ts
  src/plugin/init/loader/2_zip.ts
  src/plugin/init/utils.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore(dev): [preview] devtools in build
  .github/workflows/build.yaml
  src-tauri/Cargo.toml
  src/components/setup/mainContent.vue
  src/plugin/init/booter/40_auth.ts
  src/plugin/init/loader/2_zip.ts
  vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix(ci): pub commend
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
Due: none

fix(ci): [preview] branches add
  .github/workflows/dev-build.yaml
Due: none

fix(ci): [preview] build commend
  .github/workflows/dev-build.yaml
Due: none

chore(ci): [preview] dev build range
  .github/workflows/dev-build.yaml
  src-tauri/tauri.conf.json
Due: pnpm exec cspell --no-exit-code

fix(ci,dev): [preview] remove sign
  .github/workflows/dev-build.yaml
Due: none

feat: refactor plugin list
  src/AppSetup.vue
  src/components/plugin/actionButtonGroup.vue
  src/components/plugin/config.vue
  src/components/plugin/download.vue
  src/components/plugin/index.vue
  src/components/plugin/list.vue
  src/components/plugin/loadList.vue
  src/components/setup/mainContent.vue
  src/plugin/init/index.ts
  src/plugin/init/installer/1_normalUrl.ts
  src/plugin/init/installer/2_dev.ts
  src/plugin/init/installer/4_local.ts
  src/plugin/init/loader/1_userscript.ts
  src/plugin/init/loader/2_zip.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore: store refactor
  .releaserc.mjs
  .vscode/settings.json
  components.d.ts
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/db/index.ts
  src/main.tsx
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore: remove unused packages
  package.json
  pnpm-lock.yaml
  src-tauri/.cargo/config.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: pnpm exec cspell --no-exit-code

revert(ts): back to 5.9
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

fix(plugin): (#25) fail to load plugin by csp
  index.html
  src-tauri/tauri.conf.json
  src/components/plugin/actionButtonGroup.vue
  src/components/plugin/download.vue
  src/components/plugin/index.vue
  src/index.css
  vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: [pub] fix (#25) by (#26)
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
  .releaserc.mjs
  .vscode/settings.json
  components.d.ts
  index.html
  package.json
  pnpm-lock.yaml
  src-tauri/.cargo/config.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/AppSetup.vue
  src/components/plugin/actionButtonGroup.vue
  src/components/plugin/config.vue
  src/components/plugin/download.vue
  src/components/plugin/index.vue
  src/components/plugin/list.vue
  src/components/plugin/loadList.vue
  src/components/setup/mainContent.vue
  src/db/index.ts
  src/index.css
  src/main.tsx
  src/plugin/init/booter/40_auth.ts
  src/plugin/init/index.ts
  src/plugin/init/installer/1_normalUrl.ts
  src/plugin/init/installer/2_dev.ts
  src/plugin/init/installer/3_github.ts
  src/plugin/init/installer/4_local.ts
  src/plugin/init/loader/1_userscript.ts
  src/plugin/init/loader/2_zip.ts
  src/plugin/init/utils.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: [pub] remove error build wf
  .github/workflows/dev-build.yaml
Due: none

fix: [pub] wf (#27)
  .github/workflows/dev-build.yaml
Due: none

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  086118ae94e658ec130e464bd4072f5937681e07
Due: none

fix: android load
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/gen/android/tauri.settings.gradle
  src-tauri/src/fs_scheme.rs
  src-tauri/src/lib.rs
  src-tauri/src/logger.rs
  src-tauri/src/sentry.rs
  src-tauri/tauri.conf.json
  src/components/plugin/index.vue
  src/db/index.ts
  src/index.css
Due: pnpm run lint, pnpm exec cspell --no-exit-code
