Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

fix: [pub] android load (#28)
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/gen/android/tauri.settings.gradle
  src-tauri/src/fs_scheme.rs
  src-tauri/src/lib.rs
  src-tauri/src/logger.rs
  src-tauri/src/sentry.rs
  src-tauri/tauri.conf.json
  src/components/plugin/index.vue
  src/db/index.ts
  src/index.css
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  src-tauri/Cargo.toml
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  acacb1aaf97d5407f52d8e518b4a86597ef771e9
Due: none

chore(docs): update description
  README.md
  docs/content-1.webp
  docs/content-2.webp
  docs/content-3.webp
  docs/favourite.webp
  docs/home.webp
  docs/hot-1.webp
  docs/main-1.webp
  docs/user-1.webp
  docs/video.webp
Due: pnpm exec cspell --no-exit-code

chore(docs): better description
  README.md
Due: pnpm exec cspell --no-exit-code

fix: plugin download sort
  src/plugin/init/installer/10_normalUrl.ts
  src/plugin/init/installer/20_local.ts
  src/plugin/init/installer/30_dev.ts
  src/plugin/init/installer/40_github.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: fullscreen
  src-tauri/capabilities/default.json
  src/pages/content/[contentType]/[id]/[ep].vue
  src/stores/app.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix(ci): [pub] fullscreen fixed
  .releaserc.mjs
  package.json
  pnpm-lock.yaml
  script/update-version.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix(ci): [pub] env not configured
  .github/workflows/build.yaml
Due: none

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  d057bbcb664a038fec9ee9247bc0c7632a971b8e
Due: none

docs: notice
  README.md
Due: pnpm exec cspell --no-exit-code

chore: move to better
  package.json
  pnpm-lock.yaml
  src/db/favourite.ts
  src/db/history.ts
  src/db/index.ts
  src/db/itemStore.ts
  src/db/migrations/1_initial.ts
  src/db/migrations/2_fix-display_name.ts
  src/db/migrations/3_fix_fvi_foreign_key.ts
  src/db/recentView.ts
  src/db/subscribe.ts
  src/plugin/core.ts
  src/plugin/db.ts
  src/plugin/index.ts
  src/plugin/init/booter/0_configSetter.ts
  src/plugin/init/booter/10_apiTest.ts
  src/plugin/init/booter/20_resourceTest.ts
  src/plugin/init/booter/30_boot.ts
  src/plugin/init/booter/40_auth.ts
  src/plugin/init/booter/50_otherProcess.ts
  src/plugin/init/booter/utils.ts
  src/plugin/init/index.ts
  src/plugin/init/installer/10_normalUrl.ts
  src/plugin/init/installer/20_local.ts
  src/plugin/init/installer/30_dev.ts
  src/plugin/init/installer/40_github.ts
  src/plugin/init/loader/1_userscript.ts
  src/plugin/init/loader/2_zip.ts
  src/plugin/init/utils.ts
  src/plugin/store.ts
  src/stores/app.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

docs: remove useless
  README.md
Due: pnpm exec cspell --no-exit-code

chore: fmt fix
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/AppSetup.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore: update deps
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

chore: update net core
  src-tauri/Cargo.lock
Due: none

chore: update core
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code

chore: fn in new core
  src/pages/content/[contentType]/[id]/[ep].vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: un-imported component
  package.json
  pnpm-lock.yaml
  src/components/search/searchList.vue
  src/pages/hot.vue
  src/pages/main/user/index.vue
  src/pages/setting.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code

feat: wasm support
  package.json
  pnpm-lock.yaml
  vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: wasm run
  vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

feat: activated user
  components.d.ts
  package.json
  pnpm-lock.yaml
  src/index.css
  src/pages/main/home.vue
  src/pages/main/subscribe/index.vue
  src/pages/main/user/index.vue
  src/stores/app.ts
  vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: fmt config
  .oxfmtrc.json
Due: pnpm exec cspell --no-exit-code

feat: bun instead of pnpm
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
  .github/workflows/lint.yaml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yaml
  bun.lock
  package.json
  patches/tauri-plugin-m3.patch
  pnpm-lock.yaml
  src-tauri/gen/android/buildSrc/src/main/java/org/wenxig/delta_comic/kotlin/BuildTask.kt
  src-tauri/tauri.conf.json
Due: pnpm exec cspell --no-exit-code

fix: exec in bun
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yaml
  src/components/search/source.ts
  src/main.tsx
  src/router.ts
  src/utils/date.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

perf!: full to new core
  .lintstagedrc.yaml
  bun.lock
  package.json
  src/components/plugin/list.vue
  src/index.css
  src/main.tsx
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore: [pub] 2.0
  src/components/updateChecker.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code

fix: ci node [pub]
  .github/workflows/build.yaml
Due: none

docs: plugin download method
  README.md
Due: pnpm exec cspell --no-exit-code

fix(ci): node 25
  .github/workflows/build.yaml
  components.d.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code

docs: [pub] docs
  README.md
Due: pnpm exec cspell --no-exit-code

fix: semantic-release node
  .github/workflows/build.yaml
  .github/workflows/dev-build.yaml
Due: none

fix: git name [pub]
  .github/workflows/build.yaml
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: pnpm exec cspell --no-exit-code

Notes added by 'git notes add'
  58fe69756de6ec40cffa415daad540f7181fbcdc
Due: none

chore: dev not update
  src/components/updateChecker.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code

chore: remove store
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: pnpm exec cspell --no-exit-code
