Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

docs(architecture): 补充模块加载机制决策 (9C-12)
  findings.md
  progress.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): adopt type-safe Tauri IPC library
  findings.md
  progress.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): clarify type derivation as core infrastructure
  findings.md
  progress.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): adopt plugin framework native loader strategy
  findings.md
  progress.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(dict): 添加 cordis 和 specta 到 cspell 词典
  words.txt
Due: none

docs(architecture): 添加文件职责单一化原则
  findings.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 添加优先使用成熟库原则，确定日志库选型
  findings.md
  words.txt
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 明确只支持 Android 移动端
  findings.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 明确默认使用 Kysely ORM 而非直接 SQL
  findings.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 明确依赖走前沿路线，Vue 使用 RC + Vapor
  findings.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 补充 Tauri 性能优化策略
  findings.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 添加网络插件内化决策
  findings.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs: 创建架构设计文档（第 1-4 章）
  ARCHITECTURE.md
  words.txt
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs: 完成架构设计文档（第 5-11 章 + 实施路线图）
  ARCHITECTURE.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(shared): 创建 @delta-comic/both 核心共享包并接入 Cordis
  packages/shared/both/lib/diagnostic.ts
  packages/shared/both/lib/index.ts
  packages/shared/both/lib/manifest.ts
  packages/shared/both/package.json
  packages/shared/both/test/both.test.ts
  packages/shared/both/tsconfig.json
  packages/shared/both/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(shared): 完成插件公共协议与诊断运行时
  packages/shared/both/lib/artifact.ts
  packages/shared/both/lib/diagnostic.ts
  packages/shared/both/lib/index.ts
  packages/shared/both/lib/manifest.ts
  packages/shared/both/lib/runtime.ts
  packages/shared/both/package.json
  packages/shared/both/test/both.test.ts
  packages/shared/both/vite.config.mts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(sdk): 完成客户端与服务端插件 SDK
  ARCHITECTURE.md
  packages/app/package.json
  packages/app/vite.config.mts
  packages/client/core/sdk/lib/host.ts
  packages/client/core/sdk/lib/index.ts
  packages/client/core/sdk/lib/manifest.ts
  packages/client/core/sdk/lib/runtime.ts
  packages/client/core/sdk/package.json
  packages/client/core/sdk/test/sdk.test.ts
  packages/client/core/sdk/tsconfig.json
  packages/client/core/sdk/vite.config.mts
  packages/model/vite.config.mts
  packages/server/lib/index.ts
  packages/server/lib/serverHost.ts
  packages/server/lib/serverManifest.ts
  packages/server/lib/serverRuntime.ts
  packages/server/package.json
  packages/server/test/lib/sdk.test.ts
  packages/server/vite.config.mts
  packages/shared/both/lib/artifact.ts
  packages/shared/both/lib/diagnostic.ts
  packages/shared/both/lib/manifest.ts
  packages/shared/both/lib/runtime.ts
  packages/shared/both/test/both.test.ts
  packages/ui/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  progress.md
  script/release-workspace.mts
  script/set-version.mts
  script/test/release-workspace.test.ts
  script/test/semantic-release-plugin.command.test.ts
  task_plan.md
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 接入 Cordis artifact 模块读取器
  packages/plugin/lib/install/artifactReader.ts
  packages/plugin/lib/install/index.ts
  packages/plugin/package.json
  packages/plugin/test/lib/install/moduleReader.test.ts
  pnpm-lock.yaml
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 公开构建服务端插件 SDK
  packages/server/package.json
  packages/server/tsconfig.lib.json
  packages/server/vite.config.mts
  progress.md
  script/set-version.mts
  script/test/release-workspace.test.ts
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(app): 接入 Tauri Specta 类型生成
  Cargo.lock
  Cargo.toml
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/src/lib.rs
  packages/app/src/bindings.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(client): 接入插件下载器宿主服务
  packages/client/core/sdk/lib/downloader.ts
  packages/client/core/sdk/lib/host.ts
  packages/client/core/sdk/lib/index.ts
  packages/client/core/sdk/lib/runtime.ts
  packages/client/core/sdk/package.json
  packages/client/core/sdk/test/sdk.test.ts
  pnpm-lock.yaml
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(client): 接入插件 UI 环境宿主
  packages/app/src/bindings.ts
  packages/client/core/sdk/lib/host.ts
  packages/client/core/sdk/lib/index.ts
  packages/client/core/sdk/lib/runtime.ts
  packages/client/core/sdk/lib/ui.ts
  packages/client/core/sdk/package.json
  packages/client/core/sdk/test/sdk.test.ts
  packages/client/core/sdk/vite.config.mts
  packages/ui/lib/environment.ts
  packages/ui/package.json
  packages/ui/vite.config.mts
  pnpm-lock.yaml
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(client): 接入网络与诊断 harness
  packages/client/core/sdk/lib/host.ts
  packages/client/core/sdk/lib/index.ts
  packages/client/core/sdk/lib/network.ts
  packages/client/core/sdk/lib/runtime.ts
  packages/client/core/sdk/package.json
  packages/client/core/sdk/test/sdk.test.ts
  packages/client/core/sdk/vite.config.mts
  packages/shared/both/lib/diagnostic.ts
  packages/shared/both/test/both.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(client): 增加 UI 宿主注册适配器
  packages/client/core/sdk/lib/host.ts
  packages/client/core/sdk/lib/runtime.ts
  packages/client/core/sdk/lib/ui.ts
  packages/client/core/sdk/test/sdk.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(app): 接入插件 UI 注册宿主
  packages/app/package.json
  packages/app/src/clientHost.ts
  packages/app/src/components/navigation/AppNavigation.vue
  packages/app/src/components/navigation/AppNavigationItem.vue
  packages/app/src/main.tsx
  packages/app/src/pages/main.vue
  packages/client/core/sdk/lib/host.ts
  pnpm-lock.yaml
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 接入 Worker 诊断适配器
  packages/server/app/index.ts
  packages/server/lib/index.ts
  packages/server/lib/serverAdapter.ts
  packages/server/test/lib/serverAdapter.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 适配旧插件宿主指标
  packages/server/lib/serverHost.ts
  packages/server/lib/serverRuntime.ts
  packages/server/test/lib/sdk.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 增加 D1 runtime 迁移桥接
  packages/server/app/modules/plugins/plugins.host.ts
  packages/server/test/app/modules/plugins/plugins.runtime.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 校验插件 artifact 迁移
  packages/server/lib/serverRuntime.ts
  packages/server/test/lib/sdk.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 增加 Worker runtime dispatcher
  packages/server/lib/index.ts
  packages/server/lib/serverDispatcher.ts
  packages/server/lib/serverRuntime.ts
  packages/server/test/lib/serverDispatcher.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 接入 SQL artifact migration
  packages/server/lib/index.ts
  packages/server/lib/serverManifest.ts
  packages/server/lib/serverMigrations.ts
  packages/server/test/lib/serverMigrations.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(shared): 增加插件市场发布元数据协议
  packages/shared/both/lib/index.ts
  packages/shared/both/lib/release.ts
  packages/shared/both/package.json
  packages/shared/both/test/both.test.ts
  packages/shared/both/vite.config.mts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(shared): 增加插件市场目录存储适配器
  packages/shared/both/lib/index.ts
  packages/shared/both/lib/releaseStore.ts
  packages/shared/both/package.json
  packages/shared/both/test/both.test.ts
  packages/shared/both/vite.config.mts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 增加市场目录 R2 存储适配器
  packages/server/lib/catalogStore.ts
  packages/server/lib/index.ts
  packages/server/test/lib/catalogStore.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(shared): 补齐目录存储文件格式
  packages/shared/both/lib/releaseStore.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 增加市场目录 HTTP 边界
  packages/server/lib/catalogHandler.ts
  packages/server/lib/index.ts
  packages/server/test/lib/catalogHandler.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 接入市场目录 Worker 路由
  packages/server/app/env.ts
  packages/server/app/index.ts
  packages/server/test/app/index.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(shared): 增加市场发布器边界
  packages/shared/both/lib/index.ts
  packages/shared/both/lib/releasePublisher.ts
  packages/shared/both/package.json
  packages/shared/both/test/both.test.ts
  packages/shared/both/vite.config.mts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 接入市场发布端点
  packages/server/app/index.ts
  packages/server/lib/catalogPublishHandler.ts
  packages/server/lib/index.ts
  packages/server/test/lib/catalogPublishHandler.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 完成免费账号部署边界
  docs/plugin-marketplace-deployment.md
  packages/server/app/modules/plugins/plugins.script.ts
  packages/server/wrangler.jsonc
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code
