Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci: 拉取请求模板
  .github/pull_request_template.md
  .markdownlint.json
  README.md
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: wip 插件更新检查基础
  packages/plugin/lib/driver/init/utils.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 将axios剔出全局依赖
  packages/app/package.json
  packages/app/src/main.tsx
  packages/utils/lib/index.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 重构model的类型，放弃`Stream`和`PromiseContent`
  packages/app/src-tauri/Cargo.toml
  packages/app/src/pages/main/search.vue
  packages/app/src/pages/search/[input].vue
  packages/app/src/pages/search/[keyword]/[sort]/[method].vue
  packages/app/typed-router.d.ts
  packages/model/lib/model/comment.ts
  packages/model/lib/model/content.ts
  packages/model/lib/model/download.ts
  packages/model/lib/model/ep.ts
  packages/model/lib/model/image.ts
  packages/model/lib/model/item.ts
  packages/model/lib/model/resource.ts
  packages/model/lib/model/user.ts
  packages/model/lib/struct/index.ts
  packages/model/lib/struct/meta.ts
  packages/model/lib/struct/promise.ts
  packages/model/lib/struct/store.ts
  packages/model/lib/struct/stream.ts
  packages/model/package.json
  packages/plugin/lib/plugin/search.ts
  pnpm-lock.yaml
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 重构plugin以适应model变化
  packages/app/src/App.vue
  packages/app/src/pages/main/plugin/list.vue
  packages/core/lib/ipc.ts
  packages/db/lib/itemStore.ts
  packages/model/lib/model/comment.ts
  packages/model/lib/model/content.ts
  packages/model/lib/model/item.ts
  packages/model/lib/struct/meta.ts
  packages/model/package.json
  packages/plugin/lib/driver/core.ts
  packages/plugin/lib/driver/init/booter/0_configSetter.ts
  packages/plugin/lib/driver/init/installer/10_normalUrl.ts
  packages/plugin/lib/driver/init/installer/20_local.ts
  packages/plugin/lib/driver/init/installer/30_dev.ts
  packages/plugin/lib/driver/init/installer/40_github.ts
  packages/plugin/lib/driver/init/installer/9999_awesome.ts
  packages/plugin/lib/driver/init/loader/1_userscript.ts
  packages/plugin/lib/driver/init/loader/2_zip.ts
  packages/plugin/lib/driver/init/utils.ts
  packages/plugin/lib/driver/install.ts
  packages/plugin/lib/driver/loader.ts
  packages/plugin/lib/global.ts
  packages/plugin/lib/plugin/content.ts
  packages/plugin/lib/plugin/search.ts
  packages/plugin/lib/plugin/subscribe.ts
  packages/plugin/lib/plugin/user.ts
  packages/plugin/package.json
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(ui): 重构Content
  packages/ui/lib/components/DcContent.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 重构ui的list和waterfall
  packages/ui/.oxfmtrc.json
  packages/ui/lib/components/DcContent.vue
  packages/ui/lib/components/DcList.vue
  packages/ui/lib/components/DcWaterfall.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci: 提交自动格式化
  .lintstagedrc.yaml
Due: none

refactor: 重构app部分model适配
  .github/workflows/lint.yaml
  packages/app/src/components/forkSelect.vue
  packages/app/src/components/home/hotPageIcon.vue
  packages/app/src/components/home/mainPageSearchBar.vue
  packages/app/src/components/search/searchList.vue
  packages/app/src/components/subscribe/subAuthorList.vue
  packages/app/src/components/subscribe/subCard.vue
  packages/app/src/components/subscribe/subList.vue
  packages/app/src/components/user/favouriteCard.vue
  packages/app/src/components/user/favouriteItem.vue
  packages/app/src/components/user/historyCard.vue
  packages/app/src/components/user/recentCard.vue
  packages/app/src/icons.tsx
  packages/app/src/pages/content/[contentType]/[id]/[ep].vue
  packages/app/src/pages/main/home/hot.vue
  packages/app/src/router.ts
  packages/app/src/stores/content.ts
  packages/model/lib/model/comment.ts
  packages/model/lib/model/content.ts
  packages/model/lib/struct/meta.ts
  packages/model/lib/struct/store.ts
  packages/plugin/lib/plugin/search.ts
  packages/plugin/lib/plugin/subscribe.ts
  packages/ui/lib/components/DcContent.vue
  packages/ui/lib/components/DcList.vue
  packages/ui/lib/components/DcWaterfall.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 优化random缓存逻辑
  packages/app/src/pages/main/home/random.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 重构推荐页面数据结构
  packages/app/src/pages/main/home/random.vue
  packages/app/src/pages/main/plugin/list.vue
  packages/app/src/pages/main/subscribe.vue
  packages/app/src/pages/search/[keyword]/[sort]/[method].vue
  packages/plugin/lib/plugin/search.ts
  packages/ui/lib/components/DcContent.vue
  packages/ui/lib/components/DcWaterfall.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 迁移vite-plus技术栈
  .husky/pre-commit
  .oxfmtrc.json
  .oxlintrc.json
  .vite-hooks/commit-msg
  .vite-hooks/pre-commit
  package.json
  packages/app/package.json
  packages/app/vite.config.mts
  packages/core/env.d.ts
  packages/core/package.json
  packages/core/vite.config.mts
  packages/db/env.d.ts
  packages/db/package.json
  packages/db/vite.config.mts
  packages/model/env.d.ts
  packages/model/package.json
  packages/model/vite.config.mts
  packages/plugin/env.d.ts
  packages/plugin/package.json
  packages/plugin/vite.config.mts
  packages/request/env.d.ts
  packages/request/package.json
  packages/request/vite.config.mts
  packages/ui/env.d.ts
  packages/ui/package.json
  packages/ui/vite.config.mts
  packages/utils/env.d.ts
  packages/utils/package.json
  packages/utils/vite.config.mts
  packages/vite/env.d.ts
  packages/vite/package.json
  packages/vite/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 移除不必要的配置
  .lintstagedrc.yaml
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: 修复fmt的config
  .vscode/extensions.json
  .vscode/settings.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor(ui): 成功重构搜索页面
  .oxfmtrc.json
  .oxlintrc.json
  .vscode/settings.json
  package.json
  packages/app/components.d.ts
  packages/app/src-tauri/Cargo.toml
  packages/app/src/pages/search/[keyword]/[sort]/[method].vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(ui): 成功重构menu
  packages/app/src/pages/main.vue
  packages/app/src/pages/user/favourite.vue
  packages/app/src/pages/user/favourite/[id].vue
  packages/app/src/pages/user/history.vue
  packages/app/src/pages/user/recent.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(ui): 成功重构排行榜页面
  packages/app/src/pages/hot.vue
  packages/app/src/pages/hot/[plugin].vue
  packages/app/typed-router.d.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci: 修正发布
  .github/workflows/build.yaml
  package.json
  packages/app/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs: ?
  Cargo.lock
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci: 修复构建类型
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  package.json
  packages/app/package.json
  packages/app/vite.config.mts
  packages/core/vite.config.mts
  packages/db/vite.config.mts
  packages/model/vite.config.mts
  packages/plugin/vite.config.mts
  packages/request/vite.config.mts
  packages/ui/vite.config.mts
  packages/utils/vite.config.mts
  packages/vite/vite.config.mts
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: npm类型修复
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/core/package.json
  packages/db/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: 微调View类型
  Cargo.lock
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/core/package.json
  packages/db/package.json
  packages/model/lib/model/content.ts
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 更优质的view插槽
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/core/package.json
  packages/db/package.json
  packages/model/lib/model/content.ts
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: ??
  Cargo.lock
  README.md
  packages/app/src/pages/content/[contentType]/[id]/[ep].vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: 让语句通顺
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs: 优化显示结构
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor: 重构StreamQuery
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/app/src/components/subscribe/subList.vue
  packages/core/package.json
  packages/db/package.json
  packages/model/lib/model/comment.ts
  packages/model/lib/model/content.ts
  packages/model/lib/struct/meta.ts
  packages/model/package.json
  packages/plugin/lib/plugin/search.ts
  packages/plugin/lib/plugin/subscribe.ts
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/lib/components/DcList.vue
  packages/ui/lib/components/DcWaterfall.vue
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat: 为list添加stream模式
  packages/app/src/components/subscribe/subList.vue
  packages/app/src/pages/search/[keyword]/[sort]/[method].vue
  packages/ui/lib/components/DcList.vue
  packages/ui/lib/components/DcWaterfall.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 更新了依赖
  Cargo.lock
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/core/package.json
  packages/db/package.json
  packages/model/lib/struct/store.ts
  packages/model/package.json
  packages/plugin/lib/config.ts
  packages/plugin/lib/driver/init/booter/0_configSetter.ts
  packages/plugin/lib/driver/init/booter/40_auth.ts
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs: ?
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs: 修复了warn格式问题
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: 固定node版本
  .node-version
Due: none

fix: tw-merge类型意外泄漏
  .vscode/settings.json
  packages/ui/lib/components/DcContent.vue
  packages/ui/lib/components/DcFloatPopup.vue
  packages/ui/lib/components/DcImage.vue
  packages/ui/lib/components/DcImagedIcon.vue
  packages/ui/lib/components/DcList.vue
  packages/ui/lib/components/DcMarkdown/index.vue
  packages/ui/lib/components/DcPopup.vue
  packages/ui/lib/components/DcRouterTab.vue
  packages/ui/lib/components/DcState.vue
  packages/ui/lib/components/DcText.vue
  packages/ui/lib/components/DcToggleIcon.vue
  packages/ui/lib/components/DcWaterfall.vue
  packages/ui/lib/utils/type.ts
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 版本进位
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/core/package.json
  packages/db/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

pref: 新版本发布触发
  .vscode/settings.json
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: [pub]
  words.txt
Due: none

fix: 构建流程sdk无法找到 [pub]
  .github/workflows/build.yaml
Due: none

Path conditions:
  pnpm run lint: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  pnpm exec cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
  bun oxlint: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  bun cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
