Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

fix: 构建使用官方 [pub]
  .github/workflows/build.yaml
  packages/app/src-tauri/tauri.conf.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci: [pub] 疑似工作区导致无法编译
  Cargo.lock
  Cargo.toml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

ci: [pub]尝试claude解决方案
  .github/workflows/build.yaml
Due: none

ci: [pub] 修复了pnpm的问题
  .github/workflows/build.yaml
Due: none

ci: [pub] vp exec -> vp pm exec
  .github/workflows/build.yaml
  package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: [pub] 尝试chatgpt解决方案
  .github/workflows/build.yaml
  Cargo.lock
  Cargo.toml
  packages/app/src-tauri/gen/android/app/src/main/AndroidManifest.xml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat: 优化fetch返回 [pub]
  .github/workflows/build.yaml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/core/package.json
  packages/db/package.json
  packages/model/lib/model/content.ts
  packages/model/package.json
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

ci: w
  .github/workflows/build.yaml
Due: none

ci: [pub]
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: none

Notes added by 'git notes add'
  4864ade6906437494a3d341e82e854f9d565927e
Due: none

feat: 调优model [pub][only-lib]
  .github/workflows/build.yaml
  packages/app/src/components/home/mainPageSearchBar.vue
  packages/app/src/components/search/searchBar.vue
  packages/model/lib/model/content.ts
  packages/plugin/lib/driver/init/installer/10_normalUrl.ts
  packages/plugin/lib/driver/init/installer/30_dev.ts
  packages/plugin/lib/driver/init/installer/40_github.ts
  packages/plugin/lib/driver/init/installer/9999_awesome.ts
  packages/plugin/lib/driver/init/loader/1_userscript.ts
  packages/plugin/lib/driver/init/loader/2_zip.ts
  packages/plugin/package.json
  packages/request/lib/abort.ts
  packages/request/lib/axios.ts
  packages/request/lib/index.ts
  packages/request/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix: update不接受预版本更新 [pub][only-lib]
  .github/workflows/build.yaml
  packages/app/src/components/updateChecker.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: model
  packages/model/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: add utils type
  Cargo.lock
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/core/package.json
  packages/db/package.json
  packages/model/package.json
  packages/plugin/lib/depends.ts
  packages/plugin/package.json
  packages/request/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/vite/package.json
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix: remove NPM_TOKEN env var from .npmrc to avoid local warnings
  .npmrc
Due: none

refactor: 重构了插件加载
  Cargo.lock
  README.md
  packages/app/typed-router.d.ts
  packages/plugin/README.md
  packages/plugin/env.d.ts
  packages/plugin/lib/driver/booter.ts
  packages/plugin/lib/driver/core.ts
  packages/plugin/lib/driver/init/loader/0_core.ts
  packages/plugin/lib/driver/init/loader/1_zip.ts
  packages/plugin/lib/driver/init/loader/2_dev.ts
  packages/plugin/lib/driver/init/utils.ts
  packages/plugin/lib/driver/loader.ts
  packages/plugin/lib/plugin/index.ts
  packages/plugin/package.json
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix: ui构建类型错误问题
  packages/ui/env.d.ts
  packages/ui/tsconfig.app.json
  packages/ui/vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor: 重构插件加载步骤记录
  .vscode/settings.json
  README.md
  packages/app/package.json
  packages/app/src/components/plugin/index.vue
  packages/app/src/components/plugin/loadList.vue
  packages/app/src/components/subscribe/subCard.vue
  packages/app/src/components/user/actionCard.vue
  packages/app/src/icons.tsx
  packages/app/src/pages/cate.vue
  packages/app/src/pages/hot/[plugin].vue
  packages/app/src/pages/main.vue
  packages/app/src/pages/main/home/hot.vue
  packages/app/src/pages/search/[keyword]/[sort]/[method].vue
  packages/app/src/pages/user/favourite.vue
  packages/app/src/pages/user/favourite/[id].vue
  packages/app/src/utils/date.ts
  packages/app/src/utils/search.tsx
  packages/app/tsconfig.app.json
  packages/plugin/lib/config.ts
  packages/plugin/lib/driver/booter.ts
  packages/plugin/lib/driver/core.ts
  packages/plugin/lib/driver/init/booter/40_auth.ts
  packages/plugin/lib/driver/loader.ts
  packages/plugin/lib/driver/store.ts
  packages/plugin/lib/plugin/auth.ts
  packages/plugin/package.json
  packages/ui/lib/components/DcCell.vue
  packages/ui/lib/components/DcList.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(ui): refactor DcTab with Swiper
  packages/ui/lib/components/DcTab.vue
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 删除sentry
  Cargo.lock
  Cargo.toml
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/capabilities/default.json
  packages/app/src-tauri/src/lib.rs
  packages/app/src-tauri/src/sentry.rs
  packages/app/src/main.tsx
  packages/utils/lib/analyze.ts
  packages/utils/lib/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(ui): refactor pull refresh component
  packages/ui/lib/components/DcPullRefresh.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: naive抽屉替换popup
  packages/app/components.d.ts
  packages/app/package.json
  packages/app/src/components/createFavouriteCard.vue
  packages/app/src/components/favouriteSelect.vue
  packages/app/src/components/forkSelect.vue
  packages/app/src/components/plugin/index.vue
  packages/app/src/components/search/searchBar.vue
  packages/app/src/components/subscribe/subAuthorList.vue
  packages/app/src/components/subscribe/subCard.vue
  packages/app/src/components/updateChecker.vue
  packages/app/src/components/user/userFavouriteSelect.vue
  packages/app/src/main.tsx
  packages/app/src/pages/content/[contentType]/[id]/[ep].vue
  packages/app/src/pages/main/home/random.vue
  packages/app/src/pages/main/plugin/download.vue
  packages/app/src/pages/main/subscribe.vue
  packages/app/src/pages/search/[keyword]/[sort]/[method].vue
  packages/app/src/pages/setting.vue
  packages/app/src/pages/user/favourite/[id].vue
  packages/app/src/pages/user/history.vue
  packages/app/src/pages/user/recent.vue
  packages/app/src/router.ts
  packages/plugin/lib/plugin/search.ts
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: changeset
  .changeset/bright-comics-count.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: 计划添加ui的测试界面
  packages/ui/index.html
  packages/ui/package.json
  packages/ui/src/App.vue
  packages/ui/src/index.css
  packages/ui/src/main.tsx
  packages/ui/src/pages/index.vue
  packages/ui/src/router.ts
  packages/ui/tsconfig.app.json
  packages/ui/vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: docs
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(ci): 尝试修复ci检查问题
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .vscode/settings.json
  oxfmt.config.ts
  packages/app/package.json
  packages/app/vite.config.mts
  packages/ui/vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 尝试创建云服务
  .markdownlint.json
  README.md
  package.json
  packages/app/index.html
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/src/lib.rs
  packages/server/package.json
  packages/server/tsconfig.app.json
  packages/server/tsconfig.json
  packages/server/tsconfig.node.json
  packages/server/vite.config.mts
  packages/ui/index.html
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix: lint
  oxlint.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(db): persist native and config stores in sqlite
  AGENTS.md
  package.json
  packages/db/lib/config.ts
  packages/db/lib/index.ts
  packages/db/lib/nativeStore/index.test.ts
  packages/db/lib/nativeStore/index.ts
  packages/db/src/migrations.rs
  packages/plugin/lib/config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(db): persist native and config stores in sqlite (#40)
  AGENTS.md
  package.json
  packages/db/lib/config.ts
  packages/db/lib/index.ts
  packages/db/lib/nativeStore/index.test.ts
  packages/db/lib/nativeStore/index.ts
  packages/db/src/migrations.rs
  packages/plugin/lib/config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat: 优化了server代码架构
  AGENTS.md
  packages/server/app/index.test.ts
  packages/server/app/index.ts
  packages/server/app/infrastructure/http/serverContext.ts
  packages/server/app/modules/auth/auth.routes.ts
  packages/server/app/modules/auth/auth.schemas.ts
  packages/server/app/modules/auth/auth.service.ts
  packages/server/app/modules/auth/auth.types.ts
  packages/server/app/modules/sync/sync.routes.ts
  packages/server/app/modules/sync/sync.schemas.ts
  packages/server/app/modules/sync/sync.service.ts
  packages/server/app/modules/sync/sync.types.ts
  packages/server/app/shared/http/authGuard.ts
  packages/server/app/shared/http/cors.ts
  packages/server/app/shared/response.ts
  packages/server/app/v1/index.ts
  packages/server/lib/index.ts
  packages/server/package.json
  packages/server/tsconfig.lib.json
  packages/server/vite.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 完善类型检测覆盖率
  README.md
  package.json
  packages/app/package.json
  packages/db/package.json
  packages/model/package.json
  packages/server/package.json
  packages/server/tsconfig.app.json
  packages/server/tsconfig.json
  packages/server/tsconfig.lib.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore: 更新统计链接
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(server): add cloudflare pages admin panel
  AGENTS.md
  packages/server-admin/components.d.ts
  packages/server-admin/index.html
  packages/server-admin/package.json
  packages/server-admin/src/App.vue
  packages/server-admin/src/components/dashboard/HealthPanel.vue
  packages/server-admin/src/components/dashboard/ModuleOverview.vue
  packages/server-admin/src/components/dashboard/ServerEndpointForm.vue
  packages/server-admin/src/env.d.ts
  packages/server-admin/src/index.css
  packages/server-admin/src/main.ts
  packages/server-admin/src/pages/DashboardPage.vue
  packages/server-admin/src/pages/ModulesPage.vue
  packages/server-admin/src/pages/OpenApiPage.vue
  packages/server-admin/src/router.ts
  packages/server-admin/src/stores/admin.ts
  packages/server-admin/src/utils/url.ts
  packages/server-admin/tsconfig.app.json
  packages/server-admin/tsconfig.json
  packages/server-admin/tsconfig.node.json
  packages/server-admin/vite.config.mts
  packages/server-config/lib/index.ts
  packages/server-config/package.json
  packages/server-config/tsconfig.json
  packages/server/app/index.ts
  packages/server/package.json
  packages/server/vite.config.mts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): add cloudflare pages admin panel (#41)
  AGENTS.md
  packages/server-admin/components.d.ts
  packages/server-admin/index.html
  packages/server-admin/package.json
  packages/server-admin/src/App.vue
  packages/server-admin/src/components/dashboard/HealthPanel.vue
  packages/server-admin/src/components/dashboard/ModuleOverview.vue
  packages/server-admin/src/components/dashboard/ServerEndpointForm.vue
  packages/server-admin/src/env.d.ts
  packages/server-admin/src/index.css
  packages/server-admin/src/main.ts
  packages/server-admin/src/pages/DashboardPage.vue
  packages/server-admin/src/pages/ModulesPage.vue
  packages/server-admin/src/pages/OpenApiPage.vue
  packages/server-admin/src/router.ts
  packages/server-admin/src/stores/admin.ts
  packages/server-admin/src/utils/url.ts
  packages/server-admin/tsconfig.app.json
  packages/server-admin/tsconfig.json
  packages/server-admin/tsconfig.node.json
  packages/server-admin/vite.config.mts
  packages/server-config/lib/index.ts
  packages/server-config/package.json
  packages/server-config/tsconfig.json
  packages/server/app/index.ts
  packages/server/package.json
  packages/server/vite.config.mts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore: 新的style规划
  .github/workflows/test.yaml
  AGENTS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code
