Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}": "pnpm run lint",
  "*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}": "pnpm exec cspell --no-exit-code"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}': |
  bun oxlint

'*.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}': |
  bun cspell --no-exit-code

fix(style): 修复ai所写的过度设计
  AGENTS.md
  packages/db/lib/favourite.ts
  packages/db/lib/history.ts
  packages/db/lib/plugin.ts
  packages/db/lib/recentView.ts
  packages/db/lib/subscribe.ts
  packages/model/lib/model/comment.ts
  packages/model/lib/model/image.ts
  packages/model/lib/model/item.ts
  packages/plugin/lib/kernel/contribution.ts
  packages/ui/lib/components/form/components/DcForm.vue
  packages/ui/lib/components/form/type.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(ci): release 各平台构建跳过已下载的工作区产物
  .github/workflows/release.yaml
  packages/app/vite.config.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  1913d5573d4f632ae5868d0e8f912bbc130b1e0a
Due: none

chore(release): 3.0.0-next.11 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(codegen): 实现 TypeBox 表定义 DSL 与 Kysely Schema Builder 驱动的 SQL 生成器
  .planning/.active_plan
  .planning/2026-08-15-typebox-ssot-data-unification/findings.md
  .planning/2026-08-15-typebox-ssot-data-unification/progress.md
  .planning/2026-08-15-typebox-ssot-data-unification/task_plan.md
  cspell.json
  package.json
  pnpm-lock.yaml
  script/codegen/example/auth-users.table.mts
  script/codegen/kysely.mts
  script/codegen/run.mts
  script/codegen/schema.mts
  script/codegen/sql.mts
  script/test/codegen/kysely.test.ts
  script/test/codegen/schema.test.ts
  script/test/codegen/sql.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(codegen): 支持 DEFAULT/CHECK 约束生成并导出 Kysely Selectable 系列类型
  script/codegen/kysely.mts
  script/codegen/sql.mts
  script/test/codegen/kysely.test.ts
  script/test/codegen/sql.test.ts
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(codegen): 迁移到新 typebox 包并适配 1.x API
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  script/codegen/example/auth-users.table.mts
  script/codegen/kysely.mts
  script/codegen/schema.mts
  script/codegen/sql.mts
  script/test/codegen/kysely.test.ts
  script/test/codegen/schema.test.ts
  script/test/codegen/sql.test.ts
  script/test/codegen/typebox-migration.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(planning): 记录 typebox 1.x 包迁移 API 变更
  .planning/2026-08-15-typebox-ssot-data-unification/findings.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(codegen): 支持服务端同步表结构
  .planning/2026-08-15-typebox-ssot-data-unification/progress.md
  .planning/2026-08-15-typebox-ssot-data-unification/task_plan.md
  script/codegen/kysely.mts
  script/codegen/schema.mts
  script/codegen/sql.mts
  script/test/codegen/sql.test.ts
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(skill): k t
  .agents/skills/kysely/SKILL.md
  .agents/skills/typebox/SKILL.md
  skills-lock.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor(db): 完成客户端数据层迁移
  .planning/2026-08-15-typebox-ssot-data-unification/progress.md
  .planning/2026-08-15-typebox-ssot-data-unification/task_plan.md
  packages/db/lib/config.ts
  packages/db/lib/favourite.ts
  packages/db/lib/generated/config.sql
  packages/db/lib/generated/config.table.ts
  packages/db/lib/generated/favourite_card.sql
  packages/db/lib/generated/favourite_card.table.ts
  packages/db/lib/generated/favourite_item.sql
  packages/db/lib/generated/favourite_item.table.ts
  packages/db/lib/generated/history.sql
  packages/db/lib/generated/history.table.ts
  packages/db/lib/generated/item_store.sql
  packages/db/lib/generated/item_store.table.ts
  packages/db/lib/generated/native_store.sql
  packages/db/lib/generated/native_store.table.ts
  packages/db/lib/generated/plugin.sql
  packages/db/lib/generated/plugin.table.ts
  packages/db/lib/generated/recent_view.sql
  packages/db/lib/generated/recent_view.table.ts
  packages/db/lib/generated/subscribe.sql
  packages/db/lib/generated/subscribe.table.ts
  packages/db/lib/history.ts
  packages/db/lib/index.ts
  packages/db/lib/itemStore.ts
  packages/db/lib/nativeStore/index.ts
  packages/db/lib/plugin.ts
  packages/db/lib/recentView.ts
  packages/db/lib/subscribe.ts
  packages/db/test/lib/operations.test.ts
  script/codegen/client.table.mts
  script/codegen/kysely.mts
  script/codegen/run.mts
  script/codegen/schema.mts
  script/test/codegen/kysely.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(db,ui): 修复泛型类型和 JSONColumnType Selectable 映射
  packages/db/lib/favourite.ts
  packages/db/lib/history.ts
  packages/db/lib/itemStore.ts
  packages/db/lib/plugin.ts
  packages/db/lib/recentView.ts
  packages/db/lib/subscribe.ts
  packages/ui/lib/components/form/components/DcForm.vue
  packages/ui/lib/components/form/components/DcFormItem.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(server): 集成 TypeBox 运行时数据验证
  .planning/2026-08-15-typebox-ssot-data-unification/findings.md
  .planning/2026-08-15-typebox-ssot-data-unification/progress.md
  .planning/2026-08-15-typebox-ssot-data-unification/task_plan.md
  packages/server/app/infrastructure/d1/generated/schemas.ts
  packages/server/app/infrastructure/d1/validation.ts
  packages/server/app/modules/admin/admin.repository.ts
  packages/server/app/modules/auth/auth.repository.ts
  packages/server/app/modules/plugins/plugins.repository.ts
  packages/server/app/modules/sync/sync.repository.ts
  packages/server/lib/plugin.ts
  packages/server/package.json
  packages/server/test/app/infrastructure/d1/validation.test.ts
  packages/server/test/app/modules/admin/admin.repository.test.ts
  packages/server/test/app/modules/sync/sync.repository.test.ts
  script/codegen/kysely.mts
  script/codegen/run.mts
  script/codegen/schema.mts
  script/codegen/server.table.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(server): 锁定 TypeBox 运行时依赖
  pnpm-lock.yaml
Due: none

feat(codegen): 完成 Phase 4 工具链优化
  .planning/2026-08-15-typebox-ssot-data-unification/progress.md
  .planning/2026-08-15-typebox-ssot-data-unification/task_plan.md
  docs/database-schema.md
  packages/db/lib/generated/favourite_card.table.ts
  packages/db/lib/generated/plugin.table.ts
  packages/db/lib/generated/recent_view.table.ts
  packages/db/lib/generated/schemas.ts
  packages/server/app/infrastructure/d1/generated/schemas.ts
  script/codegen/check.mts
  script/codegen/kysely.mts
  script/codegen/run.mts
  script/codegen/schema.mts
  script/codegen/sql.mts
  script/test/codegen/kysely.test.ts
  script/test/codegen/schema.test.ts
  script/test/codegen/sql.test.ts
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(codegen): 同步生成产物
  packages/db/lib/generated/config.table.ts
  packages/db/lib/generated/favourite_item.table.ts
  packages/db/lib/generated/history.table.ts
  packages/db/lib/generated/item_store.table.ts
  packages/db/lib/generated/native_store.table.ts
  packages/db/lib/generated/subscribe.table.ts
  packages/server/app/infrastructure/d1/generated/auth_sessions.table.ts
  packages/server/app/infrastructure/d1/generated/auth_terminals.table.ts
  packages/server/app/infrastructure/d1/generated/auth_users.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_audit.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_installations.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_jobs.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_registry.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_script_runs.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_scripts.table.ts
  packages/server/app/infrastructure/d1/generated/sync_changes.table.ts
  packages/server/app/infrastructure/d1/generated/sync_entities.table.ts
  packages/server/app/infrastructure/d1/generated/sync_ops.table.ts
  packages/server/app/infrastructure/d1/generated/sync_terminal_cursors.table.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(codegen): 消除检查器与生成器的重复实现
  script/codegen/artifacts.mts
  script/codegen/check.mts
  script/codegen/run.mts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(codegen): 同步生成产物至新架构
  packages/db/lib/generated/config.table.ts
  packages/db/lib/generated/favourite_card.table.ts
  packages/db/lib/generated/favourite_item.table.ts
  packages/db/lib/generated/history.table.ts
  packages/db/lib/generated/item_store.table.ts
  packages/db/lib/generated/native_store.table.ts
  packages/db/lib/generated/plugin.table.ts
  packages/db/lib/generated/recent_view.table.ts
  packages/db/lib/generated/schemas.ts
  packages/db/lib/generated/subscribe.table.ts
  packages/server/app/infrastructure/d1/generated/auth_sessions.table.ts
  packages/server/app/infrastructure/d1/generated/auth_terminals.table.ts
  packages/server/app/infrastructure/d1/generated/auth_users.table.ts
  packages/server/app/infrastructure/d1/generated/schemas.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_audit.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_installations.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_jobs.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_registry.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_script_runs.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_scripts.table.ts
  packages/server/app/infrastructure/d1/generated/sync_changes.table.ts
  packages/server/app/infrastructure/d1/generated/sync_entities.table.ts
  packages/server/app/infrastructure/d1/generated/sync_ops.table.ts
  packages/server/app/infrastructure/d1/generated/sync_terminal_cursors.table.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

test(codegen): 完成 TypeBox 数据源 Phase 5 验收
  .planning/2026-08-15-typebox-ssot-data-unification/findings.md
  .planning/2026-08-15-typebox-ssot-data-unification/progress.md
  .planning/2026-08-15-typebox-ssot-data-unification/task_plan.md
  packages/db/lib/generated/favourite_card.table.ts
  packages/db/lib/generated/history.table.ts
  packages/db/lib/generated/item_store.table.ts
  packages/db/lib/generated/plugin.table.ts
  packages/db/lib/generated/recent_view.table.ts
  packages/db/lib/generated/schemas.ts
  packages/db/lib/generated/subscribe.table.ts
  packages/server/app/infrastructure/d1/generated/schemas.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_audit.table.ts
  packages/server/app/infrastructure/d1/generated/server_plugin_jobs.table.ts
  packages/server/app/infrastructure/d1/generated/sync_changes.table.ts
  packages/server/app/infrastructure/d1/generated/sync_entities.table.ts
  packages/server/app/infrastructure/d1/generated/sync_ops.table.ts
  script/codegen/client.table.mts
  script/codegen/kysely.mts
  script/codegen/run.mts
  script/codegen/schema.mts
  script/test/codegen/kysely.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 修复类型错误
  packages/app/src/components/subscribe/subAuthorList.vue
  packages/app/src/components/user/favourite/FavouriteOverview.vue
  packages/app/src/components/user/favouriteCard.vue
  packages/app/src/pages/main/subscribe.vue
  packages/app/src/pages/user/favourite/[id].vue
  packages/db/lib/favourite.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(db): 接入客户端数据库运行时校验
  packages/app/src/cloud/syncAdapter.ts
  packages/app/src/components/user/favouriteCard.vue
  packages/app/src/features/pluginMarketplace/usePluginMarketplace.ts
  packages/app/src/pages/main/subscribe.vue
  packages/app/src/pages/user/favourite/[id].vue
  packages/app/test/src/cloud/syncAdapter.test.ts
  packages/app/test/src/features/pluginMarketplace/usePluginMarketplace.test.ts
  packages/db/lib/generated/schemas.ts
  packages/db/lib/index.ts
  packages/db/lib/validation.ts
  packages/db/lib/writeValidation.ts
  packages/db/package.json
  packages/db/test/lib/validation.test.ts
  packages/db/test/lib/writeValidation.test.ts
  packages/plugin/lib/install/repository.ts
  pnpm-lock.yaml
  script/codegen/artifacts.mts
  script/codegen/check.mts
  script/codegen/schema.mts
  script/test/codegen/schema.test.ts
  words.txt
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  0d0ecc31f1b3519f3ad721c0fc4d8aedac2e6ab9
Due: none

chore(release): 3.0.0-next.12 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(app): 启动配置支持 GitHub Token
  packages/app/src/pages/main/plugin/config.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 插件下载确认期间禁用重复确认并加固同类下载弹窗
  packages/app/src/components/download/DownloadManagerPage.vue
  packages/app/src/components/download/DownloadSourceRefreshWarnings.vue
  packages/app/src/components/plugin/marketplace/PluginMarketplaceCard.vue
  packages/app/src/components/plugin/marketplace/PluginMarketplaceContainer.vue
  packages/app/src/components/plugin/marketplace/PluginMarketplaceDetails.vue
  packages/app/src/components/plugin/marketplace/PluginMarketplaceList.vue
  packages/app/src/pages/main/plugin/download.vue
  packages/app/test/src/components/download/DownloadSourceRefreshWarnings.test.ts
  packages/app/test/src/components/plugin/marketplace/components.test.ts
  packages/app/test/src/components/plugin/marketplace/container.test.ts
  packages/app/test/src/pages/main/plugin/download.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(server-admin): 插件动作进行中禁用重复确认并锁定确认弹窗
  packages/server-admin/src/features/plugins/PluginsPage.vue
  packages/server-admin/src/features/plugins/components/InstallPlanDialog.vue
  packages/server-admin/src/stores/plugins.ts
  packages/server-admin/test/src/features/pages.test.ts
  packages/server-admin/test/src/shared/components/components.test.ts
  packages/server-admin/test/src/stores/stores.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 预启动阶段注册插件 i18n 并补齐 core 配置文案
  packages/app/src/i18n/locales/zh-CN.ts
  packages/plugin/lib/composition.ts
  packages/plugin/lib/core/i18n.ts
  packages/plugin/lib/core/index.ts
  packages/plugin/lib/runtime/engine.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 修复了gh-token输入样式
  packages/app/src/components/plugin/index.vue
  packages/app/src/pages/main/plugin/config.vue
  packages/plugin/lib/install/source.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 修复插件 CSS 入口解析
  findings.md
  packages/plugin/lib/install/manifest.ts
  packages/plugin/test/lib/install/manifest.test.ts
  progress.md
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 接入自定义 Vite 开发协议并移除 vite-plugin-monkey
  packages/plugin/lib/install/manifest.ts
  packages/plugin/package.json
  packages/plugin/test/lib/install/manifest.test.ts
  packages/plugin/test/vite/dev.integration.test.ts
  packages/plugin/test/vite/dev.test.ts
  packages/plugin/test/vite/index.test.ts
  packages/plugin/vite/dev.ts
  packages/plugin/vite/index.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(plugin): 记录阶段二开发协议完成进度
  findings.md
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 实现持久化开发服务器协议
  PLUGIN_DEVELOPMENT.md
  packages/plugin/ARCHITECTURE.md
  packages/plugin/build.rs
  packages/plugin/lib/composition.ts
  packages/plugin/lib/install/candidateProvider.ts
  packages/plugin/lib/install/codec.ts
  packages/plugin/lib/install/contracts.ts
  packages/plugin/lib/install/dev.ts
  packages/plugin/lib/install/index.ts
  packages/plugin/lib/install/moduleReader.ts
  packages/plugin/lib/install/service.ts
  packages/plugin/lib/install/source.ts
  packages/plugin/permissions/autogenerated/commands/decode_dev_meta.toml
  packages/plugin/permissions/autogenerated/commands/install_dev.toml
  packages/plugin/permissions/autogenerated/commands/prepare_dev_script.toml
  packages/plugin/permissions/autogenerated/reference.md
  packages/plugin/permissions/default.toml
  packages/plugin/permissions/schemas/schema.json
  packages/plugin/src/commands.rs
  packages/plugin/src/lib.rs
  packages/plugin/test/lib/install/moduleReader.test.ts
  packages/plugin/test/lib/install/service.test.ts
  packages/plugin/test/lib/install/source.test.ts
  packages/plugin/test/lib/runtime/providers.test.ts
  packages/plugin/vite/dev.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(planning): 清理过时计划
  .planning/.active_plan
  .planning/2026-08-15-typebox-ssot-data-unification/findings.md
  .planning/2026-08-15-typebox-ssot-data-unification/progress.md
  .planning/2026-08-15-typebox-ssot-data-unification/task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(serena): 长期记忆
  .serena/memories/conventions.md
  .serena/memories/core.md
  .serena/memories/memory_maintenance.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/memories/tech_stack.md
  TODOS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 开发服务器接入原生 Vite HMR
  packages/plugin/ARCHITECTURE.md
  packages/plugin/lib/composition.ts
  packages/plugin/lib/install/dev.ts
  packages/plugin/lib/install/moduleReader.ts
  packages/plugin/package.json
  packages/plugin/test/vite/dev.integration.test.ts
  packages/plugin/test/vite/dev.test.ts
  packages/plugin/vite/dev.ts
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(plugin): 更新原生 Vite HMR 迁移文档与计划
  PLUGIN_DEVELOPMENT.md
  findings.md
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

Notes added by 'git notes add'
  c7219f00f81118f7f320ff755ff751f755b34b67
Due: none

chore(release): 3.0.0-next.13 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code
