Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(release): 3.0.0-next.13 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(plugin): 允许删除损坏插件
  packages/plugin/lib/runtime/engine.ts
  packages/plugin/test/lib/runtime/engine.test.ts
  packages/plugin/重构方案.excalidraw
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 统一 entry.jsPath 为本地开发源入口并修复 dev 插件 500
  PLUGIN_DEVELOPMENT.md
  packages/plugin/lib/install/moduleReader.ts
  packages/plugin/test/lib/install/manifest.test.ts
  packages/plugin/test/vite/index.test.ts
  packages/plugin/vite/index.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  59d61f42c5555170fbb5886b6a9317cc53a3ac97
Due: none

chore(release): 3.0.0-next.14 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 支持动态获取远端列表
  PLUGIN_DEVELOPMENT.md
  packages/plugin/lib/api/hook/remote.ts
  packages/plugin/lib/api/model/remote.ts
  packages/plugin/lib/capabilities/remote.ts
  packages/plugin/test/lib/capabilities/models.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 支持静态动态远端共存
  PLUGIN_DEVELOPMENT.md
  packages/plugin/lib/api/model/remote.ts
  packages/plugin/lib/capabilities/remote.ts
  packages/plugin/test/lib/capabilities/models.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 测试模式跳过共享运行时检查
  packages/plugin/test/vite/index.test.ts
  packages/plugin/vite/index.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(ai): 添加限制
  AGENTS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor(plugin): 从Vite配置读取构建命令
  PLUGIN_DEVELOPMENT.md
  packages/plugin/test/vite/index.test.ts
  packages/plugin/vite/index.ts
  task_plan.md
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  624e7d6ac1f9311f4d38645e19c33c8a3a29fc94
Due: none

chore(release): 3.0.0-next.15 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(test): 修复共享运行时测试兼容性
  packages/plugin/test/vite/index.test.ts
  packages/plugin/vite/index.ts
  packages/utils/vite/index.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(test): 测试模式注入共享运行时
  packages/app/test/setup.ts
  packages/app/test/src/App.test.ts
  packages/app/vite.config.mts
  packages/utils/test/vite/index.test.ts
  packages/utils/vite/index.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  19721659b3dd59e9102146a4522570e46b9be0b5
Due: none

chore(release): 3.0.0-next.16 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

chore(ai): Delete .codex directory
  .codex/config.toml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(readme): Update star history chart links in README
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs: 移除无用文档
  PLUGIN_DEVELOPMENT.md
  README.md
  findings.md
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(plugin): 修复 expose 模块扩展类型推导
  packages/plugin/lib/api/model/expose.ts
  packages/plugin/test/lib/capabilities/channels.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

style(fmt): fmt
  packages/app/test/setup.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  ec8674fab1813af733de96dc10d25688f985207c
Due: none

chore(release): 3.0.0-next.17 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(app): 添加自动启动内容清除入口
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/pages/setting.vue
  packages/app/test/src/pages/setting.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(app): 添加插件本地打开入口
  packages/app/src-tauri/tauri.conf.json
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/pages/main/plugin/list.vue
  packages/app/src/platform.ts
  packages/app/test/src/platform.test.ts
  packages/plugin/lib/adapters/fileStore.ts
  packages/plugin/lib/composition.ts
  packages/plugin/test/lib/adapters/fileStore.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(plugin): 修复开发插件动态导入警告
  packages/plugin/lib/install/moduleReader.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 固定插件入口文件
  TODOS.md
  packages/model/lib/model/plugin.ts
  packages/plugin/lib/install/dev.ts
  packages/plugin/lib/install/manifest.ts
  packages/plugin/lib/install/source.ts
  packages/plugin/test/lib/install/manifest.test.ts
  packages/plugin/test/lib/install/moduleReader.test.ts
  packages/plugin/test/lib/install/source.test.ts
  packages/plugin/test/vite/dev.integration.test.ts
  packages/plugin/test/vite/dev.test.ts
  packages/plugin/test/vite/index.test.ts
  packages/plugin/vite/dev.ts
  packages/plugin/vite/index.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  a93035a7ba19bce1da47cd86716ef94e6532af39
Due: none

chore(release): 3.0.0-next.18 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 固定插件入口扩展名
  TODOS.md
  packages/plugin/lib/install/dev.ts
  packages/plugin/lib/install/moduleReader.ts
  packages/plugin/test/lib/adapters/fileStore.test.ts
  packages/plugin/test/lib/install/service.test.ts
  packages/plugin/test/lib/install/source.test.ts
  packages/plugin/test/vite/index.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  4aa987ee9a41363735cc3a5cf571ca75f91be90d
Due: none

chore(release): 3.0.0-next.19 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 持久化全仓重构规划
  findings.md
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 记录规划提交结果
  progress.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(architecture): 记录 40 项架构决策并完成阶段 2
  findings.md
  progress.md
  task_plan.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

Path conditions:
  pnpm run lint: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  pnpm exec cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
  bun oxlint: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  bun cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
