Repository delta-comic/delta-comic: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 拆分插件来源解码与候选提供器
  packages/plugin/lib/adapters/fileStore.ts
  packages/plugin/lib/adapters/index.ts
  packages/plugin/lib/index.ts
  packages/plugin/lib/install/codec.ts
  packages/plugin/lib/install/contracts.ts
  packages/plugin/lib/install/index.ts
  packages/plugin/lib/install/manifest.ts
  packages/plugin/lib/install/moduleReader.ts
  packages/plugin/lib/install/repository.ts
  packages/plugin/lib/install/service.ts
  packages/plugin/lib/install/source.ts
  packages/plugin/lib/kernel/candidate.ts
  packages/plugin/lib/runtime/index.ts
  packages/plugin/lib/runtime/providers.ts
  packages/plugin/test/lib/architecture.test.ts
  packages/plugin/test/lib/install/manifest.test.ts
  packages/plugin/test/lib/install/service.test.ts
  packages/plugin/test/lib/kernel/dependency.test.ts
  packages/plugin/test/lib/runtime/providers.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 拆分市场目录与安装契约
  packages/app/src/components/plugin/marketplace/PluginMarketplaceContainer.vue
  packages/app/src/components/plugin/marketplace/PluginMarketplaceDetails.vue
  packages/app/src/features/pluginMarketplace/model.ts
  packages/app/src/features/pluginMarketplace/usePluginMarketplace.ts
  packages/app/test/src/components/plugin/marketplace/components.test.ts
  packages/app/test/src/features/pluginMarketplace/model.test.ts
  packages/app/test/src/features/pluginMarketplace/usePluginMarketplace.test.ts
  packages/plugin/ARCHITECTURE.md
  packages/plugin/lib/adapters/awesomeRegistry/cache.ts
  packages/plugin/lib/adapters/awesomeRegistry/client.ts
  packages/plugin/lib/adapters/awesomeRegistry/index.ts
  packages/plugin/lib/adapters/awesomeRegistry/schema.ts
  packages/plugin/lib/adapters/awesomeRegistry/types.ts
  packages/plugin/lib/adapters/index.ts
  packages/plugin/lib/composition.ts
  packages/plugin/lib/index.ts
  packages/plugin/lib/install/catalog.ts
  packages/plugin/lib/install/index.ts
  packages/plugin/lib/install/source.ts
  packages/plugin/lib/marketplace/index.ts
  packages/plugin/test/lib/adapters/awesomeRegistry/client.test.ts
  packages/plugin/test/lib/architecture.test.ts
  packages/plugin/test/lib/install/catalog.test.ts
  packages/plugin/test/lib/install/source.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  bcdfdc90587472195c33c5e08a7e283cfbbba813
Due: none

chore(release): 3.0.0-next.9 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(agent): 优化agent文件
  AGENTS.md
  PLUGIN_DEVELOPMENT.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(plugin): 让expose类型安全化
  PLUGIN_DEVELOPMENT.md
  opencode.json
  packages/plugin/lib/api/model/expose.ts
  packages/plugin/lib/capabilities/channels.ts
  packages/plugin/lib/kernel/contribution.ts
  packages/plugin/test/lib/capabilities/channels.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

docs(readme): 为开发者添加更多指引
  README.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

test(coverage): 修复测试套件版本不匹配问题
  pnpm-workspace.yaml
Due: none

revert(plugin): 移除safe模式
  PLUGIN_DEVELOPMENT.md
  packages/app/main.html
  packages/app/src/components/plugin/index.vue
  packages/app/src/i18n/locales/en-US.ts
  packages/app/src/i18n/locales/index.ts
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/i18n/locales/zh-TW.ts
  packages/app/test/src/components/plugin/startup.test.ts
  packages/plugin/lib/api/env.ts
  packages/plugin/lib/composition.ts
  packages/plugin/test/lib/api/plugin.test.ts
  packages/plugin/test/lib/runtime/engine.test.ts
  packages/ui/index.html
  packages/utils/lib/env.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

style(fmt): 格式化代码
  packages/app/test/src/components/plugin/startup.test.ts
  packages/server-admin/src/features/plugins/components/PluginDetailDrawer.vue
  packages/ui/src/components/showcase/demos/DcFormDemo.vue
  packages/ui/src/components/showcase/demos/DcFormItemDemo.vue
  packages/ui/src/components/showcase/demos/DcFormPairsDemo.vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

Notes added by 'git notes add'
  d7dbedc68eed16a0f1b568f41f882ba65030367b
Due: none

chore(release): 3.0.0-next.10 [skip ci]
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
  packages/app/package.json
  packages/app/src-tauri/Cargo.toml
  packages/app/src-tauri/tauri.conf.json
  packages/db/package.json
  packages/downloader/package.json
  packages/logger/package.json
  packages/model/package.json
  packages/plugin/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(splash): 开屏页没有vue实例问题
  packages/app/index.html
  packages/app/src-tauri/capabilities/splash.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(plugin): 优先使用内置插件候选
  packages/plugin/lib/runtime/providers.ts
  packages/plugin/test/lib/runtime/providers.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 恢复插件更新反馈
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/pages/main/plugin/list.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

chore(deps): 升级 pnpm 至 12.0.0-rc.3
  AGENTS.md
  package.json
  pnpm-lock.yaml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

docs(agent): 翻译代理指南
  AGENTS.md
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(plugin): 支持接收插件预览版更新
  packages/plugin/lib/composition.ts
  packages/plugin/lib/install/source.ts
  packages/plugin/test/lib/install/source.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(logger): 为终端日志等级添加颜色
  packages/logger/src/model.rs
  packages/logger/src/storage.rs
  packages/logger/test/src/model.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor(logger): 使用 dayjs 格式化日期
  packages/logger/lib/logger.ts
  packages/logger/package.json
  pnpm-lock.yaml
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(build): 迁移脚本至 Vite Task
  package.json
  packages/app/package.json
  packages/app/vite.config.mts
  packages/db/package.json
  packages/db/vite.config.mts
  packages/downloader/package.json
  packages/downloader/vite.config.mts
  packages/logger/package.json
  packages/logger/vite.config.mts
  packages/model/package.json
  packages/model/vite.config.mts
  packages/plugin/package.json
  packages/plugin/vite.config.mts
  packages/runtime/package.json
  packages/runtime/vite.config.mts
  packages/server-admin/package.json
  packages/server-admin/vite.config.mts
  packages/server/package.json
  packages/server/vite.config.mts
  packages/ui/package.json
  packages/ui/vite.config.mts
  packages/utils/package.json
  packages/utils/vite.config.mts
  script/release-workspace.mts
  script/semantic-release-plugin.mts
  script/test/release-configuration.test.ts
  script/test/release-control.test.ts
  script/test/release-workspace.test.ts
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(i18n): 移除未实现的语言选项
  packages/app/src/i18n/index.ts
  packages/app/src/i18n/locale.ts
  packages/app/src/i18n/locales/index.ts
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/main.tsx
  packages/app/test/src/i18n/index.test.ts
  packages/plugin/lib/core/config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(ui): 修复下载消息结算与进度边界
  packages/ui/lib/message/download.tsx
  packages/ui/test/lib/message/download.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 恢复插件安装进度提示
  packages/app/src/components/plugin/marketplace/PluginMarketplaceContainer.vue
  packages/app/src/features/pluginInstall/progress.ts
  packages/app/src/features/pluginInstall/usePluginInstall.ts
  packages/app/src/pages/main/plugin/download.vue
  packages/app/src/pages/main/plugin/list.vue
  packages/app/test/src/features/pluginInstall/usePluginInstall.test.ts
  packages/plugin/lib/composition.ts
  packages/plugin/test/lib/install/service.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 报告插件下载字节进度
  packages/app/src/features/pluginInstall/usePluginInstall.ts
  packages/app/src/i18n/locales/zh-CN.ts
  packages/plugin/lib/install/contracts.ts
  packages/plugin/lib/install/service.ts
  packages/plugin/lib/install/source.ts
  packages/plugin/test/lib/install/source.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 展示未知总量下载状态
  packages/app/src/components/download/DownloadDetailDrawer.vue
  packages/app/src/components/download/DownloadList.vue
  packages/app/src/components/download/DownloadTaskCard.vue
  packages/app/src/features/downloads/format.ts
  packages/app/test/src/features/downloads/format.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(downloader): 实时发送 HTTP 下载进度
  packages/downloader/src/engine.rs
  packages/downloader/src/ephemeral.rs
  packages/downloader/src/http.rs
  packages/downloader/test/src/http/fault_tests.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

feat(downloader): 更新 Android 下载通知进度
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadJobService.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadRuntime.kt
  packages/downloader/android/src/main/java/org/deltacomic/downloader/DownloadWorker.kt
  packages/downloader/android/src/test/java/org/deltacomic/downloader/NotificationProgressTest.kt
  packages/downloader/src/mobile.rs
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

refactor(app): 分项展示插件安装进度
  packages/app/src/features/pluginInstall/progress.ts
  packages/app/src/features/pluginInstall/runPluginInstallPhases.ts
  packages/app/src/features/pluginInstall/usePluginInstall.ts
  packages/app/test/src/features/pluginInstall/usePluginInstall.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

refactor(plugin): 移除预加载插件类型
  PLUGIN_DEVELOPMENT.md
  packages/app/components.d.ts
  packages/app/src/AppSetup.vue
  packages/app/src/components/plugin/PluginPreloadRecoveryAlert.vue
  packages/app/src/components/plugin/index.vue
  packages/app/src/i18n/locales/zh-CN.ts
  packages/app/src/main.tsx
  packages/app/src/pages/main/plugin/list.vue
  packages/app/test/src/App.test.ts
  packages/app/test/src/components/plugin/marketplace/components.test.ts
  packages/app/test/src/components/plugin/startup.test.ts
  packages/db/lib/plugin.ts
  packages/db/test/lib/operations.test.ts
  packages/model/lib/model/plugin.ts
  packages/plugin/ARCHITECTURE.md
  packages/plugin/lib/api/hook/lifecycle.ts
  packages/plugin/lib/builtins/core.builtin.ts
  packages/plugin/lib/capabilities/auth.ts
  packages/plugin/lib/capabilities/index.ts
  packages/plugin/lib/capabilities/lifecycle.ts
  packages/plugin/lib/capabilities/services.ts
  packages/plugin/lib/composition.ts
  packages/plugin/lib/core/index.ts
  packages/plugin/lib/install/manifest.ts
  packages/plugin/lib/install/moduleReader.ts
  packages/plugin/lib/kernel/candidate.ts
  packages/plugin/lib/runtime/engine.ts
  packages/plugin/test/lib/capabilities/default.test.ts
  packages/plugin/test/lib/capabilities/models.test.ts
  packages/plugin/test/lib/install/manifest.test.ts
  packages/plugin/test/lib/install/moduleReader.test.ts
  packages/plugin/test/lib/runtime/engine.test.ts
  vite.config.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

perf(build): 优化 Rust nightly 编译配置
  .cargo/config.toml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

fix(app): 按阶段创建插件安装进度
  packages/app/src/features/pluginInstall/runPluginInstallPhases.ts
  packages/app/test/src/features/pluginInstall/usePluginInstall.test.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 修复插件安装确认弹窗
  packages/app/src/pages/main/plugin/download.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

feat(plugin): 支持多文件插件协议
  Cargo.lock
  packages/app/main.html
  packages/plugin/Cargo.toml
  packages/plugin/lib/adapters/fileStore.ts
  packages/plugin/src/lib.rs
  packages/plugin/src/protocol.rs
  packages/plugin/test/lib/adapters/fileStore.test.ts
  packages/plugin/test/src/protocol.rs
  packages/plugin/test/vite/index.test.ts
  packages/plugin/vite/index.ts
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 显示插件安装确认按钮
  packages/app/src/pages/main/plugin/download.vue
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 禁用输入框自动大写
  packages/app/src/main.tsx
Due: pnpm run lint, pnpm exec cspell --no-exit-code, bun oxlint, bun cspell --no-exit-code

fix(app): 允许原生端写入剪贴板
  packages/app/src-tauri/capabilities/default.json
Due: pnpm exec cspell --no-exit-code, bun cspell --no-exit-code

Path conditions:
  pnpm run lint: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  pnpm exec cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
  bun oxlint: any of: *.{js,jsx,ts,tsx,mts,cts,mjs,cjs,vue}
  bun cspell --no-exit-code: any of: *.{md,json,toml,rs,js,jsx,ts,tsx,mts,cts,mjs,cjs,vue,html}
